* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 메인 넓이 수정 */
.freeboardModify-mainContainer {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

main {
  margin-top: 100px;
  margin-bottom: 30px;
}

/* 자유게시판 제목 */
.freeboardModify-text1 {
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: center;
  color: #317FF0;
  font-size: 35px;
  margin-bottom: 0;
  font-weight: bold;
}

.freeboardModify-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.freeboardModify-text2 {
  font-size: 35px;
  color: #EBAA39;
  font-weight: bold;
}

.freeboardModify-warning {
  margin-top: 30px;
  margin-bottom: 30px;
}

.freeboardModify-warningText {
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
}

.freeboardModify-warningText:last-child {
  margin-bottom: 0;
}

.freeboardModify-write {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.freeboardModify-writeButton {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #EBAA39;
  border: none;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.freeboardModify-cancelButton {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #EBAA39;
  border: none;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

/* 제목 입력 필드 스타일 */
.freeboardModify-inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.freeboardModify-titleInput {
  width: 1100px; /* 너비 조정 */
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  color: grey;
}

/* Toast UI Editor 영역 */
#contsEditor {
  width: 100%;
  margin-top: 20px;
}
