/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

main {
  margin: 0;
  padding: 0;
  height: 1000px;
  width: 1100px;
  margin: 0 auto;
}

.apijoin-container {
  background-color: white;
  border-radius: 5px;
  max-width: 400px;
  width: 1100px;
  margin: 0 auto;
}

.join-agree{
  font-weight: bold;
  text-decoration: underline;
}

.apijoin-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
}

.apijoin-leftTitle{
  color: #317FF0;
}

.apijoin-rightTitle{
  color: #ebaa39;
}


.apijoin-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.apijoin-finishButton {
  width: 100%;
  padding: 10px;
  background-color: #ebaa39;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

.apijoin-label{
  font-weight: 600;
}

.apijoin-checkbox {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.apijoin-checkboxInput {
  margin-right: 10px;
}

.error-message {
  font-size: 15px;
  color: red; /* 오류 메시지는 빨간색 */
  margin-bottom: 10px;
}

/* 새로 추가된 부분 */
.input-withButton {
  position: relative;
  margin: 8px 0;
}

.input-withButton .apijoin-input {
  padding-right: 100px; /* 버튼이 들어갈 공간을 확보 */
}

.input-withButton .apijoin-eventButton{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ebaa39;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 80px;
  margin-left: 10px;
}

/* 비밀번호 토글 아이콘 스타일 */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.input-withButton .apijoin-input {
  padding-right: 40px; /* 토글 이미지가 들어갈 공간 확보 */
}
