*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

main {
  margin: 0 auto;
  padding: 0;
  height: 700px;
  width: 1100px;
  margin: 0 auto;
}

.join-logo {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: 'Cute Font', cursive;
  font-weight: bold;
}

.join-joinBox {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.join-joinBlue {
  color: #317FF0;
}

.join-joinOrange {
  color: #EBAA39;
}

.join-welcome {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.join-joinBoxTwo{
  display: flex;
  align-items: center;
  justify-items: center;
}

.join-emailJoinButton{
  margin-top: 10px;
  width: 400px;
  height: 40px; 
  color: white;
  border-radius: 5px;
  background-color: #424242;
  cursor: pointer;
  border: none;
  margin-left: 50px;
}

.join-socialJoin{
  margin: 0 auto;
  text-align: center;
  display: block;
}

.join-joinBoxThree{
  align-items: center;
  justify-items: center;
}

.join-kakaoJoinButton{
  margin-top: 10px;
  width: 400px;
  height: 40px; 
  color: black;
  border-radius: 5px;
  background-color: #FEE500;
  cursor: pointer;
  border: none;
  margin-left: 50px;
}

.join-naverJoinButton{
  margin-top: 10px;
  width: 400px;
  height: 40px; 
  color: white;
  border-radius: 5px;
  background-color: #03C75A;
  cursor: pointer;
  border: none;
  margin-left: 50px;
}

.join-socialHr {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  margin: 8px 0px;
}

.join-socialHr::before,
.join-socialHr::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}



