<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main/recipeSearchList.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>

    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>

    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <title>DR - 검색 결과</title>

</head>
<body>
<header th:replace="~{/fragment/header :: header}"></header>
<main>
    <div class="myRecipeList-mainContainer">
        <div class="myRecipeList-mainBox">
            <!-- 나만의 레시피 목록 제목 -->
            <div class="myRecipeList-title">
                <span class="myRecipeList-text1">검색</span>
                <span class="myRecipeList-text2">결과</span>
            </div>

            <!-- 글작성,전체보기,최신순,추천순 버튼들 -->
            <div class="myRecipeList-button">
                <button class="myRecipeList-writeButton"
                        style="cursor: default; background-color: transparent"></button>
                <div class="myRecipeList-rightButton">
                    <button class="myRecipeList-secondButton" onclick="location.href='/recipe/myRecipeList'">나만의 레시피
                    </button>
                    <button class="myRecipeList-secondButton" onclick="location.href='/recipe/chatBotRecipeList'">챗봇
                        레시피
                    </button>
                </div>
            </div>

            <!-- 나만의 레시피 목록 -->
            <div class="myRecipeList-outbox">
                <div class="myRecipeList-listbox" th:each="result : ${searchResult}">
                    <a th:href="${(result.recipeType == '나만의레시피') ? '/recipe/myDetailPage?recipeNumber=' + result.recipeNumber
                        : (result.recipeType == '챗봇레시피' ? '/recipe/chatBotDetailPage?recipeNumber=' + result.recipeNumber : '#')}">
                        <img th:src="@{'/image/recipe/' + ${result.photoLocal}}" alt="레시피 이미지">
                    </a>
                    <p class="myRecipeList-foodTitle" th:text="${result.recipeTitle}"></p>
                    <span class="myRecipeList-writer" th:text="${result.userNickName}"></span>
                    <span class="myRecipeList-date" th:text="${result.recipeWriteDate}"></span>
                    <p class="myRecipeList-select" th:text="'추천수 ' + ${result.goodCount}"></p>
                </div>
            </div>

            <!-- 검색 결과 -->
            <div class="resultContainer" th:if="${searchResult.isEmpty()}">
                <img th:src="@{/image/resultIsNull.png}" alt="검색결과 없음">
                <div class="resultIsNull">검색 결과가 존재하지 않습니다.</div>
            </div>
            <div id="pagination" th:unless="${searchResult.isEmpty()}"></div>
        </div>
    </div>
</main>

    <footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/recipe/myRecipeList.js}" defer></script>
</body>
</html>
