*{
    margin: 0;
    padding: 0;
}

/* 메인 넓이 수정 */
.chatBotRecipeWriter-mainContainer {
    width: 1100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 0 auto;
}
main{
    margin-top: 100px;
    margin-bottom: 30px;
}

/* 나만의 레시피 제목 */
.chatBotRecipeWriter-text1{
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: center;
    color: #317FF0;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
}
.chatBotRecipeWriter-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatBotRecipeWriter-text2{
    font-size: 35px;
    color: #EBAA39;
    font-weight: bold;
}

.chatBotRecipeWriter-warning{
    margin-top: 30px;
    margin-bottom: 30px;
}
.chatBotRecipeWriter-warningText{
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
}
.chatBotRecipeWriter-warningText:last-child{
    margin-bottom: 0;
}

.chatBotRecipeWriter-write{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }
  .chatBotRecipeWriter-writeButton{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #EBAA39;
    border: none;
    color: white;
  }

  .chatBotRecipeWriter-inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray; /* 밑줄 추가 */
    padding-bottom: 5px;
  }
  
  .chatBotRecipeWriter-titleInput {
    width: 1100px; /* 너비 조정 */
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    color: grey;
  }