*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 메인 넓이 수정 */
.myRecipeList-mainContainer {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
main{
    margin-top: 100px;
    margin-bottom: 30px;
}

/* 나만의 레시피 제목 */
.myRecipeList-text1{
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: center;
    color: #317FF0;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
}
.myRecipeList-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myRecipeList-text2{
    font-size: 35px;
    color: #EBAA39;
    font-weight: bold;
}


/* 나만의 레시피 글작성, 최신순, 추천순 버튼들 */
.myRecipeList-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

.myRecipeList-writeButton{
    width: 150px;
    height: 50px;
    background-color: #EBAA39;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.myRecipeList-rightButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 37px;
}
.myRecipeList-firstButton, .myRecipeList-secondButton, .myRecipeList-thirdButton{
    width: 200px;
    height: 37px;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
}

/* 버튼이 클릭될때마다 배경색과 텍스트 색이 바뀌는 설정 */
.myRecipeList-rightButton button.active {
    background-color: #EBAA39;
    color: white;
}

/* 나만의 레시피 목록들 */
.myRecipeList-outbox{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* 한 줄에 4개 이상 넘으면 다음 줄로 넘기기 */
}

.myRecipeList-listbox {
    width: 24%; /* 한 줄에 4개씩 배치하기 위한 설정 */
    margin-bottom: 20px; /* 각 아이템 사이에 간격 추가 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.myRecipeList-foodTitle {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
}
.myRecipeList-writer, .myRecipeList-date, .myRecipeList-select {
    margin-top: 0px;
    font-size: 10px;
}
.myRecipeList-listbox img {
    width: 265px;  /* 원하는 고정 크기로 설정 */
    height: 265px;
    border-radius: 5px;
}


/* 페이지네이션 */
#manage-pages {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.manage-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#pagination {
    margin-top: 30px;
    position: relative;
    left: 43%;
}
