* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover,
a:focus,
a:active {
    color: inherit;
    outline: none;
}


/* 메인섹션 */
.main-section1Container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.main-section1Frame {
    width: 1100px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-refrigerator {
    width: 500px;
    height: 300px;
    margin-top: 50px;
}

#main-logoFont {
    width: 250px;
}

.main-slogan {
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #424242;
}

.main-ourcesFrom {
    position: relative;
    left: 100px;
    margin-top: 20px;
    font-size: 13px;
}

.main-section2Container,
.main-section3Container,
.main-section4Container {
    width: 100%;
    height: 1462px;
    background-color: #FFD507;
    display: flex;
    justify-content: center;
}

.main-section2Container {
    height: 1130px;
}

.main-section2Frame,
.main-section3Frame,
.main-section4Frame {
    width: 1100px;
    padding: 54px 9px 0 9px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-sectionTitle,
.main-sectionSubTitle {
    letter-spacing: -1.5px;
    font-size: 36px;
    margin: 10px 0;
    color: #404040;
}

.main-titleText {
    color: #F44336;
}

#main-titleNotice{
    margin-top: 60px;
    color: gray;
}

.main-sectionSubTitle {
    font-size: 30px;
}

.main-sectionInfo span {
    font-weight: lighter;
    font-size: 45px;
    color: #222222;
}

#main-monthSelect {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 25px;
    border: none;
    outline: none;
    appearance: none; /* 기본 화살표 제거 */
    padding: 10px;
    background-color: lightgray;
    color: black;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#main-monthSelect:hover {
    background-color: gray;
    color: white
}

#main-amountText{
    margin: 60px 0 10px 0;
}

p span {
    color: red;
    font-weight: bold;
}

.main-blank {
    height: 36px;
}

.main-resultTitleFrame {
    width: 100%;
    display: flex;
}

.main-resultTitle {
    width: 100%;
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    color: #353535;
}

.topResult {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main-resultBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-resultBox img {
    width: 168px;
    height: 168px;
    margin: 10px;
}

.resultName {
    font-size: 20px;
    letter-spacing: -0.5px;
    margin: 5px 0;
    color: #353535;
}

.main-result {
    font-size: 30px;
    letter-spacing: -0.8px;
    color: #353535;
}

.main-section3Container {
    width: 100%;
    height: 905px;
    background-color: white;
}

.main-calculator {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.main-calculator div {
    font-size: 40px;
}

.main-weightInput {
    width: 200px;
    height: 70px;
    font-size: 40px;
}

.main-section4Container {
    height: 900px;
}

.main-boxFrame {
    display: flex;
}

#main-player{
    margin-top: 60px;
}
