* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.privacyPolicy-titleContainer {
  display: flex;
  justify-content: center;
}

.privacyPolicy-pageTitle {
  font-size: 35px;
  font-weight: bold;
  margin: 100px 0 30px 0;
  color: #317FF0;
}

.privacyPolicy-pageTitle span {
  color: #EBAA39;
}

.privacyPolicy-contentsContainer{
  display: flex;
  justify-content: center;
}

.privacyPolicy-contentsContainer ol li{
list-style-type: decimal;
}

.privacyPolicy-contents{
  width: 800px;
  padding: 100px 200px;
}