* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.terms-titleContainer {
  display: flex;
  justify-content: center;
}

.terms-pageTitle {
  font-size: 35px;
  font-weight: bold;
  margin: 100px 0 30px 0;
  color: #317FF0;
}

.terms-pageTitle span {
  color: #EBAA39;
}

.terms-contentsContainer{
  display: flex;
  justify-content: center;
}

.terms-contentsContainer ol li{
list-style-type: decimal;
}

.terms-contents{
  width: 800px;
  padding: 100px 200px;
}