<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr.mapper.board.BoardMapper">
    <!-- 자유게시판 최신순 리스트-->
    <select id="freeBoardList" resultType="FreeBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN
             DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN
             DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '자유게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY B.BOARD_WRITE_DATE DESC
    </select>


    <!-- 자유게시판 추천순 리스트 -->
    <select id="freeBoardListGood" resultType="FreeBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '자유게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY goodCount DESC, B.BOARD_WRITE_DATE DESC
    </select>


    <!--    꿀팁게시판 최신순 리스트-->
    <select id="honeyBoardList" resultType="HoneyBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN
             DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN
             DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '꿀팁게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY B.BOARD_WRITE_DATE DESC
    </select>


    <!-- 꿀팁게시판 추천순 리스트 -->
    <select id="honeyBoardListGood" resultType="HoneyBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '꿀팁게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY goodCount DESC, B.BOARD_WRITE_DATE DESC
    </select>

    <!--    자유게시판 상세페이지 -->
    <select id="freeBoardDetail" resultType="FreeBoardDetailDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               B.BOARD_TEXT,
               B.BOARD_WRITE_DATE,
               U.USER_NICKNAME,
               P.PHOTO_LOCAL,
               COUNT(G.GOOD_NUMBER) AS goodCount
        FROM DR_BOARD B
                 JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_PHOTO P ON U.USER_NUMBER = P.USER_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_NUMBER = #{boardNumber}
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, B.BOARD_TEXT, B.BOARD_WRITE_DATE, U.USER_NICKNAME, P.PHOTO_LOCAL
    </select>


    <!-- 자유게시판 댓글 목록 조회 -->
    <select id="freeBoardCommentList" parameterType="Long" resultType="FreeBoardCommentDTO">
        SELECT R.REPLY_NUMBER,
               U.USER_NICKNAME,
               R.REPLY_WRITE_DATE,
               R.REPLY_TEXT,
               P.PHOTO_LOCAL
        FROM DR_REPLY R
                 JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
                 JOIN DR_BOARD B ON R.BOARD_NUMBER = B.BOARD_NUMBER
                 JOIN DR_PHOTO P ON U.USER_NUMBER = P.PHOTO_NUMBER
        WHERE R.BOARD_NUMBER = #{boardNumber}
    </select>


    <!--  자유게시판 댓글작성-->
    <insert id="freeBoardInsertReply" parameterType="FreeBoardCommentDTO">
        <selectKey keyProperty="replyNumber" resultType="Long" order="BEFORE">
            SELECT SEQ_REPLY_NUMBER.nextval FROM DUAL
        </selectKey>
        INSERT INTO DR_REPLY(REPLY_NUMBER, REPLY_TEXT, BOARD_NUMBER, USER_NUMBER)
        VALUES (#{replyNumber}, #{replyText}, #{boardNumber}, #{userNumber})
    </insert>

    <!-- 자유게시판 댓글 수정 -->
    <update id="freeBoardUpdateReply" parameterType="FreeBoardCommentDTO">
        UPDATE DR_REPLY
        SET REPLY_TEXT = #{replyText}
        WHERE REPLY_NUMBER = #{replyNumber}
    </update>




    <!-- 꿀팁게시판 상세 정보 조회 -->
    <select id="honeyBoardDetail" resultType="HoneyBoardDetailDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               B.BOARD_TEXT,
               B.BOARD_WRITE_DATE,
               U.USER_NICKNAME,
               P.PHOTO_LOCAL,
               COUNT(G.GOOD_NUMBER) AS goodCount
        FROM DR_BOARD B
                 JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_PHOTO P ON U.USER_NUMBER = P.USER_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_NUMBER = #{boardNumber}
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, B.BOARD_TEXT, B.BOARD_WRITE_DATE, U.USER_NICKNAME, P.PHOTO_LOCAL
    </select>


    <!-- 꿀팁게시판 댓글 목록 조회 -->
    <select id="honeyBoardCommentList" parameterType="Long" resultType="HoneyBoardCommentDTO">
        SELECT R.REPLY_NUMBER,
               U.USER_NICKNAME,
               R.REPLY_WRITE_DATE,
               R.REPLY_TEXT,
               P.PHOTO_LOCAL
        FROM DR_REPLY R
                 JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
                 JOIN DR_BOARD B ON R.BOARD_NUMBER = B.BOARD_NUMBER
                 JOIN DR_PHOTO P ON U.USER_NUMBER = P.PHOTO_NUMBER
        WHERE R.BOARD_NUMBER = #{boardNumber}
    </select>


</mapper>