body {
    font-family: 'Cute Font', sans-serif;
}

.error-container {
    text-align: center;
    padding: 2rem;
    margin-top: 180px;
}

h1 {
    color: #333;
    font-size: 3.9rem;
    margin-bottom: 1rem;
}

p {
    color: #666;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.home-button {
    padding: 12px 24px;
    background-color: #317FF0;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-bottom: 10px;
}

.home-button:hover {
    background-color: #EBAA39;
}

#errorPicture500 {
    width: 25%;
}

/* 마우스 움직일시, 이벤트 주는 코드 */
.sparkle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    /* 마우스 이벤트를 무시 */
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* 부드러운 이동 및 사라짐 효과 */
}