<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DR - 냉장봇</title>
  <link rel="stylesheet" href="../../css/chatBot/nangjangbot.css">
  <link rel="stylesheet" href="../../css/main/header.css">
  <!-- <link rel="stylesheet" href="../../css/main/footer.css"> -->
  <!-- 네비바 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
  <!-- 제이쿼리 -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script defer src="../../js/main/header.js"></script>
  <script defer src="../../js/chatBot/nangjangbot.js"></script>
</head>

<body>
  <header>
    <!-- 비로그인 헤더 -->
    <!-- <div class="main-headerContainer">
      <div class="main-headerTop">
        <a href="../../html/main/main.html"><img src="/image/logo.png" id="main-logo"></a>
        <div class="main-searchBar">
          <select class="main-dropDown">
            <option value="꿀팁 게시판">꿀팁 게시판</option>
            <option value="나만의 레시피">나만의 레시피</option>
            <option value="챗봇 레시피">챗봇 레시피</option>
            <option value="자유 게시판">자유 게시판</option>
          </select>
          <input type="text" class="main-searchInput" placeholder="로그인 후 이용 가능합니다" readonly>
          <img src="../../image/searchButton.png" id="main-searchBtn">
        </div>
        <div class="main-visitorBtn">
          <form action="../../html/user/login.html" method="">
            <button class="main-login">로그인</button>
          </form>
          <form action="../../html/user/login.html" method="">
            <button class="main-join">회원가입</button>
          </form>
        </div>
      </div> -->

    <!--비로그인 네비바 -->
    <!-- <div class="main-headerNav">
      <ul class="main-navMenu">
        <li id="main-chatBot"><a href="../../html/user/login.html">냉장봇</a></li>
        <li id="main-rank"><a href="../../html/user/login.html">환경기여 랭킹</a></li>
        <li id="main-recipe">
          레시피
          <ul class="main-recipeList">
            <li><a href="../../html/user/login.html">챗봇레시피</a></li>
            <li><a href="../../html/user/login.html">나만의레시피</a></li>
          </ul>
        </li>
        <li id="main-board">
          게시판
          <ul class="main-boardList">
            <li><a href="../../html/user/login.html">자유게시판</a></li>
            <li><a href="../../html/user/login.html">꿀팁게시판</a></li>
          </ul>
        </li>
        <li id="main-shop"><a href="../../html/user/login.html">포인트샵</a></li>
        <li id="main-myPage">
          마이페이지
          <ul class="main-myPageList">
            <li><a href="../../html/user/login.html">내 정보</a></li>
            <li><a href="../../html/user/login.html">찜 목록</a></li>
            <li><a href="../../html/user/login.html">내가 쓴 레시피</a></li>
            <li><a href="../../html/user/login.html">내가 쓴 게시글</a></li>
            <li><a href="../../html/user/login.html">신고 받은 글</a></li>
            <li><a href="../../html/user/login.html">출석체크</a></li>
            <li><a href="../../html/user/login.html">포인트 내역</a></li>
          </ul>
        </li>
      </ul>
    </div> -->

    <!-- 로그인 헤더 -->
    <div class="main-headerContainer">
      <div class="main-headerTop">
        <a href="../../html/main/main.html"><img src="../../image/logo.png" id="main-logo"></a>
        <div class="main-searchBar">
          <select class="main-dropDown">
            <option value="꿀팁 게시판">꿀팁 게시판</option>
            <option value="나만의 레시피">나만의 레시피</option>
            <option value="챗봇 레시피">챗봇 레시피</option>
            <option value="자유 게시판">자유 게시판</option>
          </select>
          <input type="text" class="main-searchInput">
          <img src="../../image/searchButton.png" id="main-searchBtn">
        </div>
        <div class="main-welcomeUser">
          <div class="main-profile">
            <img src="../../image/basicProfile.png">
          </div>
          <div class="main-welcome">정승환님 환영합니다</div>
          <form action="#로그아웃!!" method="">
            <button class="main-logout">로그아웃</button>
          </form>
        </div>
      </div>

      <!-- 로그인 네비바 -->
      <div class="main-headerNav">
        <ul class="main-navMenu">
          <li id="main-chatBot"><a href="../../html/chatBot/nangjangbot.html">냉장봇</a></li>
          <li id="main-rank"><a href="../../html/rank/userRank.html">환경기여 랭킹</a></li>
          <li id="main-recipe">
            레시피
            <ul class="main-recipeList">
              <li><a href="../../html/recipe/chatBotRecipeList.html">챗봇레시피</a></li>
              <li><a href="../../html/recipe/myRecipeList.html">나만의레시피</a></li>
            </ul>
          </li>
          <li id="main-board">
            게시판
            <ul class="main-boardList">
              <li><a href="../../html/board/freeBoardList.html">자유게시판</a></li>
              <li><a href="../../html/board/honeyBoardList.html">꿀팁게시판</a></li>
            </ul>
          </li>
          <li id="main-shop"><a href="../../html/shop/pointShop.html">포인트샵</a></li>
          <li id="main-myPage">
            마이페이지
            <ul class="main-myPageList">
              <li><a href="../../html/myPage/myPageInformation.html">내 정보</a></li>
              <li><a href="../../html/myPage/myPageSteamedList.html">찜 목록</a></li>
              <li><a href="../../html/myPage/myPageMyRecipe.html">내가 쓴 레시피</a></li>
              <li><a href="../../html/myPage/myPageMyPost.html">내가 쓴 게시글</a></li>
              <li><a href="../../html/myPage/myPageMyComplaint.html">신고 받은 글</a></li>
              <li><a href="../../html/myPage/myPageCheck.html">출석체크</a></li>
              <li><a href="../../html/myPage/myPageMyPoint.html">포인트 내역</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <!-- 사이드바 -->
    <div id="nangjangbot-sideBar">
      <img src="../../image/nangjangbot/close.png" id="nangjangbot-closeBtn">
      <div id="nangjangbot-newChatContainer">
        <a href="../../html/chatBot/nangjangbot.html"><img src="../../image/nangjangbot/newChat.png" id="nangjangbot-newChatBtn"></a>
        <div id="nangjangbot-newChat">새 채팅</div>
      </div>

      <div id="nangjangbot-sideMenu">
        <a href="../../html/rank/userRank.html">
          <div><img src="../../image/nangjangbot/checkRank.png" class="nanajangbot-menuImg"><span>랭킹 확인하러 가기</span>
          </div>
        </a>
        <a href="../../html/recipe/chatBotRecipeWriter.html">
          <div><img src="../../image/nangjangbot/writeRecipe.png" class="nanajangbot-menuImg"><span>챗봇 레시피 작성하러
              가기</span></div>
        </a>
      </div>

      <div id="nangjangbot-sideBarTitle">이전 채팅</div>

      <div class="nangjangbot-lastChat">
        <div>열번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>아홉번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>여덟번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>일곱번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>여섯번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>다섯번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>네번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>세번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>두번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>첫번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>

      <div id="nangjangbot-notice">최근 열개의 채팅만 나타납니다</div>

    </div>

    <div class="nangjangbot-pageTitle">냉장<span>봇</span></div>

    <div id="nangjangbot-text">
      <div id="nangjangbot-ingredients">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
      </div>
      <span>맛있는 재활용과 함께하는 환경 지키기</span>
    </div>
    
    <!-- 채팅시작시 여유공간 블럭 -->
    <div class="nangjangbot-block"></div>

    <!-- 유저 메세지 -->
    <div class="nangjangbot-myMsg">
      <!-- 유저 메세지 들어올 자리 -->
    </div>

    <!-- 챗봇 메세지 -->
    <div class="nangjangbot-chatBotMsg">
      <img src="../../image/nangjangbot/apple.png" class="nangjangbot-mascot">
      <span>
        <!-- 챗봇메세지 들어올 자리 -->
      </span>
    </div>
    
    <!-- 채팅입력 -->
    <form action="#컨트롤러로" method="" id="nangjangbot-chating">
      <div id="nangjangbot-btnContainer"><img src="../../image/nangjangbot/sideBar.png" id="nangjangbot-listBtn"></div>
      <input type="text" id="nangjangbot-sendMsg" placeholder="냉장고에 남은 재료와 원하는 요리를 말씀해주세요! ex: 계란과 토마토가 남았는데 한식이 먹고싶어">
      <button id="nangjangbot-sendBtn"><img src="../../image/nangjangbot/send.png"></button>
    </form>
  </main>

  <!-- 푸터 -->
  <!-- <footer>
    <div class="main-footerContainer">
      <div id="main-footerText">
        <p><strong><a href="../../html/main/terms.html">이용약관</a> | <a
              href="../../html/main/privacyPolicy.html">개인정보처리방침</a></strong></p>
        <br>
        <p>(04377)서울특별시 강남구 테헤란로 146 현익빌딩, <br>(06236)서울특별시 강남구 테헤란로26길 12 제일비전타워</p>
        <p>대표이사 : 정승환 | 사업자등록번호 : 13-72011641</p>
        <p>사업자명 : ㈜맛있는 재활용 | 대표이메일 : shjeong19943@gmail.com</p>
      </div>
    </div>
  </footer> -->
</body>

</html>