<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DR - 냉장봇</title>
  <link rel="stylesheet" th:href="@{/css/chatBot/nangjangbot.css}"/>

  <!-- 헤더 / 푸터 -->
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>

  <script src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>

  <script defer th:src="@{/js/fragment/header.js}"></script>

  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">

  <script defer th:src="@{/js/chatBot/nangjangbot.js}"></script>
</head>

<body>
<!-- 헤더 -->
<header th:replace="~{/fragment/header :: header}"></header>

  <main>
    <!-- 사이드바 -->
    <div id="nangjangbot-sideBar">
      <img th:src="@{/image/nangjangbot/close.png}" id="nangjangbot-closeBtn">
      <div id="nangjangbot-newChatContainer">
        <a th:href="@{/chatBot/nangjangbot}"><img th:src="@{/image/nangjangbot/newChat.png}" id="nangjangbot-newChatBtn"></a>
        <div id="nangjangbot-newChat">새 채팅</div>
      </div>

      <div id="nangjangbot-sideMenu">
        <a href="../../html/rank/userRank.html">
          <div><img src="../../image/nangjangbot/checkRank.png" class="nanajangbot-menuImg"><span>랭킹 확인하러 가기</span>
          </div>
        </a>
        <a href="../../html/recipe/chatBotRecipeWriter.html">
          <div><img src="../../image/nangjangbot/writeRecipe.png" class="nanajangbot-menuImg"><span>챗봇 레시피 작성하러
              가기</span></div>
        </a>
      </div>

      <div id="nangjangbot-sideBarTitle">이전 채팅</div>

      <div class="nangjangbot-lastChat">
        <div>열번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>아홉번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>여덟번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>일곱번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>여섯번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>다섯번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>네번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>세번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>두번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>
      <div class="nangjangbot-lastChat">
        <div>첫번째 첫 채팅내용 Blah blah blah</div>
        <button class="nangjangbot-imgFrame"><img src="../../image/nangjangbot/delete.png"></button>
      </div>

      <div id="nangjangbot-notice">최근 열개의 채팅만 나타납니다</div>

    </div>

    <div class="nangjangbot-pageTitle">냉장<span>봇</span></div>

    <div id="nangjangbot-text">
      <div id="nangjangbot-ingredients">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
        <img src="../../image/nangjangbot/apple.png">
        <img src="../../image/nangjangbot/vegetable.png">
        <img src="../../image/nangjangbot/meat.png">
      </div>
      <span>맛있는 재활용과 함께하는 환경 지키기</span>
    </div>
    
    <!-- 채팅시작시 여유공간 블럭 -->
    <div class="nangjangbot-block"></div>

    <!-- 유저 메세지 -->
    <div class="nangjangbot-myMsg">
      <!-- 유저 메세지 들어올 자리 -->
    </div>

    <!-- 챗봇 메세지 -->
    <div class="nangjangbot-chatBotMsg">
      <img src="../../image/nangjangbot/apple.png" class="nangjangbot-mascot">
      <span>
        <!-- 챗봇메세지 들어올 자리 -->
      </span>
    </div>
    
    <!-- 채팅입력 -->
    <form action="#컨트롤러로" method="" id="nangjangbot-chating">
      <div id="nangjangbot-btnContainer"><img src="../../image/nangjangbot/sideBar.png" id="nangjangbot-listBtn"></div>
      <input type="text" id="nangjangbot-sendMsg" placeholder="냉장고에 남은 재료와 원하는 요리를 말씀해주세요! ex: 계란과 토마토가 남았는데 한식이 먹고싶어">
      <button id="nangjangbot-sendBtn"><img src="../../image/nangjangbot/send.png"></button>
    </form>
  </main>

<!-- 푸터 -->
<!--<footer th:replace="~{/fragment/footer :: footer}"></footer>-->
</body>

</html>