<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/board/freeBoardDetail.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <title>DR - 자유게시판 상세페이지</title>
</head>

<body>
<header th:replace="~{/fragment/header :: header}"></header>
<main>
    <div class="freeBoardDetail-mainContainer">
        <div class="freeBoardDetail-mainBox">
            <div class="freeBoardDetail-infobox">
                <div class="freeBoardDetail-infoFirst">
                    <div class="freeBoardDetail-infoInBox1">
                        <img th:src="@{/image/basicProfile.png}" alt="Profile Image">
                    </div>
                    <div class="freeBoardDetail-infoInBox2">
                        <p class="freeBoardDetail-writeName" th:text="${board.userNickName}">작성자</p>
                        <p class="freeBoardDetail-foodTitle" th:text="${board.title}">제목</p>
                        <p class="freeBoardDetail-date" th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd HH:mm')}">날짜</p>
                    </div>
                </div>

                <div class="freeBoardDetail-infoSecond">
                    <div class="freeBoardDetail-firstButton">
                        <a th:href="@{/board/freeBoardModify(boardNumber=${board.boardNumber})}">
                            <button class="freeBoardDetail-buttonOne">수정</button>
                        </a>
                        <a th:href="@{/board/freeBoardDelete(boardNumber=${board.boardNumber})}" onclick="return confirm('정말 삭제하시겠습니까?');">
                            <button id="deleteButton" class="freeBoardDetail-buttonOne">삭제</button>
                        </a>
                    </div>

                    <div class="freeBoardDetail-secondButton">
                        <a th:href="@{/board/boardReport}">
                            <button class="freeBoardDetail-buttonTwo">신고</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="freeBoardDetail-writetext">
                <p class="freeBoardDetail-texts" th:text="${board.content}">글 내용</p>
                <img th:src="@{/image/recipe/숙주나물무침.png}" alt="Recipe Image">

                <div class="freeBoardDetail-recommendImg">
                    <img th:src="@{/image/recommend.png}" id="recommendImg" th:class="${board.recommend ? 'recommend-active' : 'recommend-inactive'}" alt="Recommend Image">
                    <p id="recommendCount" th:text="'추천수: ' + ${board.recommendCount}">추천수: 0</p>
                </div>
            </div>

            <div class="freeBoardDetail-commentSection">
                <div class="freeBoardDetail-commentInput">
                    <textarea placeholder="댓글을 입력하세요..." rows="3" th:field="*{commentContent}"></textarea>
                    <div class="freeBoardDetail-commentActions">
                        <button class="freeBoardDetail-addBtn" onclick="submitComment()">등록</button>
                    </div>
                </div>

                <div th:each="comment : ${comments}">
                    <div class="freeBoardDetail-comment">
                        <div class="freeBoardDetail-commentUserImg">
                            <img th:src="@{/image/basicProfile.png}" alt="User Image">
                        </div>
                        <div class="freeBoardDetail-commentContent">
                            <div class="freeBoardDetail-commentHeader">
                                <span class="freeBoardDetail-commentUsername" th:text="${comment.userNickName}">작성자</span>
                                <a th:href="@{/board/boardReport}">
                                    <button class="freeBoardDetail-reportBtn">신고</button>
                                </a>
                            </div>
                            <div class="freeBoardDetail-commentText" th:text="${comment.content}">댓글 내용</div>
                            <div class="freeBoardDetail-commentTime" th:text="${#dates.format(comment.writeTime, 'HH:mm:ss')}">시간</div>

                            <div class="freeBoardDetail-buttonGroup">
                                <button class="freeBoardDetail-editBtn" th:onclick="'editComment(' + ${comment.id} + ')'">수정</button>
                                <button class="freeBoardDetail-deleteBtn" th:onclick="'deleteComment(' + ${comment.id} + ')'">삭제</button>
                            </div>

                            <div class="freeBoardDetail-commentInput" style="display:none;" th:id="'editInput' + ${comment.id}">
                                <textarea th:field="*{comment.content}" placeholder="댓글을 입력하세요..."></textarea>
                                <div class="freeBoardDetail-commentActions">
                                    <button class="freeBoardDetail-editBtn" th:onclick="'saveComment(' + ${comment.id} + ')'">저장</button>
                                    <button class="freeBoardDetail-deleteBtn" th:onclick="'cancelEdit(' + ${comment.id} + ')'">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/board/freeBoardDetail.js}" defer></script>
</body>

</html>
