<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'DR - 자유게시판 글쓰기'">DR - 자유게시판 글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/board/freeBoardWrite.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
</head>

<body>
<header th:replace="~{/fragment/header :: header}"></header>
<main>
    <div class="freeboardwrite-mainContainer">
        <div class="freeboardwrite-mainBox">
            <div class="freeboardwrite-title">
                <span class="freeboardwrite-text1">자유게시판</span>
                <span class="freeboardwrite-text2">글쓰기</span>
            </div>
            <br><br>

            <div class="freeboardwrite-inputContainer">
                <input type="text" class="freeboardwrite-titleInput" placeholder="제목을 입력하세요" th:value="${post.title}">
            </div>

            <div id="contsEditor"></div>
            <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
            <script>
                const editor = new toastui.Editor({
                    el: document.querySelector('#contsEditor'),
                    previewStyle: 'vertical',
                    initialEditType: 'markdown',
                    height: '500px',
                    placeholder: '내용을 입력해 주세요.',
                });
            </script>

            <div class="freeboardwrite-write">
                <form th:action="@{/board/freeBoardWrite}" method="post">
                    <button type="submit" class="freeboardwrite-writeButton">등록</button>
                </form>
                <a th:href="@{/board/freeBoardList}">
                    <button class="freeboardwrite-writeButton">취소</button>
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/board/freeBoardWrite.js}"></script>
</body>

</html>
