<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - 자유게시판 글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/board/freeBoardWrite.css}">
    <link rel="stylesheet" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script defer th:src="@{/js/main/header.js}"></script>
</head>

<body>

<main>
    <div class="freeboardwrite-mainContainer">
        <div class="freeboardwrite-mainBox">
            <div class="freeboardwrite-title">
                <span class="freeboardwrite-text1">자유게시판</span>
                <span class="freeboardwrite-text2">글쓰기</span>
            </div>
            <br><br>

            <div class="freeboardwrite-inputContainer">
                <input type="text" class="freeboardwrite-titleInput" placeholder="제목을 입력하세요" th:value="${post.title}">
            </div>

            <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
            <div id="contsEditor"></div>
            <script>
                const editor = new toastui.Editor({
                    el: document.querySelector('#contsEditor'),
                    previewStyle: 'vertical',
                    initialEditType: 'markdown',
                    height: '500px',
                    placeholder: '내용을 입력해 주세요.',
                });
            </script>

            <div class="freeboardwrite-write">
                <a th:href="@{/board/freeBoardList}">
                    <button class="freeboardwrite-writeButton">등록</button>
                </a>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/board/freeBoardWrite.js}"></script>
</body>

</html>
