<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'DR - 꿀팁게시판 글 수정'">DR - 꿀팁게시판 글 수정</title>
    <link rel="stylesheet" href="./../../css/board/honeyBoardModify.css" th:href="@{/css/board/honeyBoardModify.css}">
    <link rel="stylesheet" href="../../css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../../css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer src="../../js/main/header.js" th:src="@{/js/main/header.js}"></script>
</head>
<body>

<main>
    <div class="honeyboardmodify-mainContainer">
        <div class="honeyboardmodify-mainBox">
            <div class="honeyboardmodify-title">
                <span class="honeyboardmodify-text1">꿀팁게시판</span>
                <span class="honeyboardmodify-text2">글수정</span>
            </div>
            <br><br>

            <!-- 게시글 제목 입력 -->
            <div class="honeyboardmodify-inputContainer">
                <input type="text" class="honeyboardmodify-titleInput" placeholder="제목을 입력하세요" th:value="${post.title}">
            </div>

            <!-- TOAST UI 에디터 -->
            <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
            <div id="contsEditor"></div>
            <script>
                const editor = new toastui.Editor({
                    el: document.querySelector('#contsEditor'),
                    previewStyle: 'vertical',
                    initialEditType: 'markdown',
                    height: '500px',
                    placeholder: '내용을 입력해 주세요.',
                    initialValue: /* 타임리프 변수를 사용하여 초기 내용을 설정 */ /*[[${post.content}]]*/
                });
            </script>

            <!-- 취소/수정 버튼 -->
            <div class="honeyboardmodify-write">
                <!-- 취소 버튼 -->
                <a th:href="@{/board/honeyBoardList}">
                    <button class="honeyboardmodify-writeButton">취소</button>
                </a>

                <!-- 수정 버튼 -->
                <a th:href="@{/board/honeyBoardDetail/{id}(id=${post.id})}">
                    <button class="honeyboardmodify-writeButton">수정</button>
                </a>
            </div>
        </div>
    </div>
</main>

<script src="./../../js/board/honeyBoardModify.js" th:src="@{/js/board/honeyBoardModify.js}"></script>
</body>
</html>
