<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/board/honeyBoardDetail.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <title>DR - 꿀팁게시판 상세페이지</title>
</head>

<body>
<header th:replace="~{/fragment/header :: header}"></header>
<main>
    <div class="honeyBoardDetail-mainContainer">
        <div class="honeyBoardDetail-mainBox">
            <div class="honeyBoardDetail-infobox">
                <div class="honeyBoardDetail-infoFirst">
                    <div class="honeyBoardDetail-infoInBox1">
                        <img th:src="@{/image/photo/} + ${honeyBoardDetail.photoLocal}" alt="User Photo">
                    </div>
                    <div class="honeyBoardDetail-infoInBox2">
                        <p class="honeyBoardDetail-writeName" th:text="${honeyBoardDetail.userNickName}">작성자</p>
                        <p class="honeyBoardDetail-foodTitle" th:text="${honeyBoardDetail.boardTitle}">제목</p>
                        <p class="honeyBoardDetail-date" th:text="${honeyBoardDetail.boardWriteDate}">날짜</p>
                    </div>
                </div>

                <div class="honeyBoardDetail-infoSecond">
                    <div class="honeyBoardDetail-firstButton">
                        <a th:href="@{/board/honeyBoardModify/{id}(id=${honeyBoardDetail.boardNumber})}">
                            <button class="honeyBoardDetail-buttonOne">수정</button>
                        </a>
                        <button id="deleteButton" class="honeyBoardDetail-buttonOne" onclick="deleteBoard()">삭제</button>
                    </div>

                    <div class="honeyBoardDetail-secondButton">
                        <a th:href="@{/board/boardReport/{id}(id=${honeyBoardDetail.boardNumber})}">
                            <button class="honeyBoardDetail-buttonTwo">신고</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="honeyBoardDetail-writetext">
                <p class="honeyBoardDetail-texts" th:text="${honeyBoardDetail.boardText}">글 내용</p>
                <img th:src="@{/image/recipe/} + ${honeyBoardDetail.photoLocal}" alt="Board Image">

                <div class="honeyBoardDetail-recommendImg">
                    <img src="/image/recommend.png" id="recommendImg" alt="Recommend Image">
                    <p id="recommendCount" th:text="'추천수: ' + ${honeyBoardDetail.goodCount}">추천수: 0</p>
                </div>
            </div>

            <div class="honeyBoardDetail-commentSection">
                <div class="honeyBoardDetail-commentInput">
                    <form th:action="@{/board/honeyBoardDetail}" method="post">
                        <input type="hidden" name="boardNumber" th:value="${honeyBoardDetail.boardNumber}"/>
                        <textarea id="commentTextArea" placeholder="댓글을 입력하세요..." rows="3" name="replyText"></textarea>
                        <input type="hidden" name="userNumber" th:value="${session.userNumber}"/> <!-- 세션 값을 폼에 포함 -->
                        <div class="honeyBoardDetail-commentActions">
                            <button type="submit" class="honeyBoardDetail-addBtn">등록</button>
                        </div>
                    </form>
                </div>

                <div th:each="comment : ${honeyBoardComments}">
                    <div class="honeyBoardDetail-comment">
                        <div class="honeyBoardDetail-commentUserImg">
                            <img th:src="@{/image/photo/} + ${comment.photoLocal}" alt="User Image">
                        </div>
                        <div class="honeyBoardDetail-commentContent">
                            <div class="honeyBoardDetail-commentHeader">
                                <span class="honeyBoardDetail-commentUsername" th:text="${comment.userNickName}">작성자</span>
                                <a th:href="@{/board/boardReport/{commentId}(commentId=${comment.replyNumber})}">
                                    <button class="honeyBoardDetail-reportBtn">신고</button>
                                </a>
                            </div>
                            <div class="honeyBoardDetail-commentText" th:text="${comment.replyText}">댓글 내용</div>
                            <div class="honeyBoardDetail-commentTime" th:text="${comment.replyWriteDate}">시간</div>

                            <div class="honeyBoardDetail-buttonGroup">
                                <button class="honeyBoardDetail-editBtn"
                                        th:onclick="'editComment(' + ${comment.replyNumber} + ')'">수정
                                </button>
                                <button type="button" class="honeyBoardDetail-deleteBtn"
                                        th:onclick="'deleteComment(' + ${comment.replyNumber} + ')'">삭제
                                </button>
                            </div>

                            <div class="honeyBoardDetail-commentInput" th:id="'editInput' + ${comment.replyNumber}" style="display:none;">
                                <textarea th:id="'editTextarea' + ${comment.replyNumber}" placeholder="댓글을 입력하세요..."></textarea>
                                <div class="honeyBoardDetail-commentActions">
                                    <button class="honeyBoardDetail-editBtn"
                                            th:onclick="'saveComment(' + ${comment.replyNumber} + ')'">저장
                                    </button>
                                    <button class="honeyBoardDetail-deleteBtn"
                                            th:onclick="'cancelEdit(' + ${comment.replyNumber} + ')'">취소
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/board/honeyBoardDetail.js}" defer></script>
</body>
</html>
