<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - 꿀팁게시판 목록</title>
    <link rel="stylesheet" th:href="@{/css/board/honeyBoardList.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>
<header th:replace="~{/fragment/header :: header}"></header>
<main>
    <div class="honeyboardlist-container">

        <div class="honeyboardlist-title">
            <span class="honeyboardlist-leftTitle">꿀팁</span>
            <span class="honeyboardlist-rightTitle">게시판</span>
        </div>

        <br>
        <span class="honeyboardlist-smallTitle">회원들의 꿀팁이 담긴 게시판입니다.</span>
        <br><br><br>

        <div class="honeyboardlist-rightButton">
            <button class="honeyboardlist-secondButton">최신순</button>
            <button class="honeyboardlist-thirdButton">추천순</button>
        </div>
        <br>

        <!-- 테이블 헤더 -->
        <div class="honeyboardlist-row header">
            <div class="honeyboardlist-titleColumn">제목</div>
            <div class="honeyboardlist-nameColumn">닉네임</div>
            <div class="honeyboardlist-voteColumn">추천 수</div>
            <div class="honeyboardlist-dateColumn">날짜</div>
        </div>

        <!-- 게시글 리스트 반복 출력 -->
        <div id="honeyboardlist-page">
            <div th:each="honeyBoardList : ${honeyBoardList}">
                <a th:href="@{/board/honeyBoardDetail(boardNumber=${honeyBoardList.boardNumber})}">
                    <div class="honeyboardlist-row">
                        <div class="honeyboardlist-titleColumn" th:text="${honeyBoardList.boardTitle}">제목</div>
                        <div class="honeyboardlist-nameColumn" th:text="${honeyBoardList.userNickName}">닉네임</div>
                        <div class="honeyboardlist-voteColumn" th:text="${honeyBoardList.goodCount}">추천 수</div>
                        <div class="honeyboardlist-dateColumn" th:text="${honeyBoardList.boardWriteDate}">날짜</div>
                    </div>
                </a>
            </div>
        </div>

        <!-- 페이지네이션 요소 -->
        <div id="pagination"></div>

        <!-- 글 작성 버튼 -->
        <a th:href="@{/board/honeyBoardWrite}">
            <button class="honeyboardlist-writeButton">글 작성</button>
        </a>

    </div>
</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/board/honeyBoardList.js}"></script>
</body>

</html>
