<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'DR - 꿀팁게시판 글쓰기'">DR - 꿀팁게시판 글쓰기</title>
    <link rel="stylesheet" href="./../../css/board/honeyBoardWrite.css" th:href="@{/css/board/honeyBoardWrite.css}">
    <link rel="stylesheet" href="../../css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../../css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer src="../../js/main/header.js" th:src="@{/js/main/header.js}"></script>
</head>

<body>

<main>
    <div class="honeyboardwrite-mainContainer">
        <div class="honeyboardwrite-mainBox">
            <div class="honeyboardwrite-title">
                <span class="honeyboardwrite-text1">꿀팁게시판</span>
                <span class="honeyboardwrite-text2">글쓰기</span>
            </div>
            <br><br>

            <!-- 글 제목 입력 -->
            <div class="honeyboardwrite-inputContainer">
                <input type="text" class="honeyboardwrite-titleInput" placeholder="제목을 입력하세요" th:value="${post.title}">
            </div>

            <!-- TOAST UI 에디터 -->
            <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
            <div id="contsEditor"></div>
            <script>
                const editor = new toastui.Editor({
                    el: document.querySelector('#contsEditor'),
                    previewStyle: 'vertical',
                    initialEditType: 'markdown',
                    height: '500px',
                    placeholder: '내용을 입력해 주세요.',
                    initialValue: ''  // 새 글쓰기이므로 초기 값은 비어있습니다.
                });
            </script>

            <!-- 등록 버튼 -->
            <div class="honeyboardwrite-write">
                <form th:action="@{/board/honeyBoardWrite}" method="post" onsubmit="return submitPost();">
                    <input type="hidden" name="title" th:value="${post.title}">
                    <input type="hidden" name="content" id="content">
                    <button type="submit" class="honeyboardwrite-writeButton">등록</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="./../../js/board/honeyBoardWrite.js" th:src="@{/js/board/honeyBoardWrite.js}"></script>

<script>
    // 글 작성 시 에디터 내용과 제목을 form에 전달
    function submitPost() {
        const content = editor.getMarkdown();
        document.getElementById('content').value = content;
        return true;
    }
</script>
</body>

</html>
