<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr.mapper.recipe.RecipeMapper">
    <select id="selectAllPages" resultType="MyRecipeListDTO">
        SELECT R.RECIPE_NUMBER AS recipeNumber,  <!-- 레시피 번호 추가 -->
        R.RECIPE_TITLE AS recipeTitle,
        U.USER_NICKNAME AS userNickName,
        R.RECIPE_WRITE_DATE AS recipeWriteDate,
        P.PHOTO_LOCAL AS photoOriginal,
        COUNT(G.GOOD_NUMBER) AS goodCount  -- 추천수 조회
        FROM DR_RECIPE R
        JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
        LEFT JOIN DR_PHOTO P ON R.RECIPE_NUMBER = P.RECIPE_NUMBER
        LEFT JOIN DR_GOOD G ON R.RECIPE_NUMBER = G.RECIPE_NUMBER
        WHERE R.RECIPE_TYPE = '나만의레시피'  -- 나만의 레시피 필터링
        GROUP BY R.RECIPE_NUMBER, R.RECIPE_TITLE, U.USER_NICKNAME, R.RECIPE_WRITE_DATE, P.PHOTO_LOCAL
        ORDER BY R.RECIPE_WRITE_DATE   -- 최신순 정렬
    </select>

    <select id="selectAllPages1" resultType="ChatBotRecipeListDTO">
        SELECT R.RECIPE_NUMBER AS recipeNumber,  <!-- 레시피 번호 추가 -->
        R.RECIPE_TITLE AS recipeTitle,
        U.USER_NICKNAME AS userNickName,
        R.RECIPE_WRITE_DATE AS recipeWriteDate,
        P.PHOTO_LOCAL AS photoOriginal,
        COUNT(G.GOOD_NUMBER) AS goodCount  -- 추천수 조회
        FROM DR_RECIPE R
        JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
        LEFT JOIN DR_PHOTO P ON R.RECIPE_NUMBER = P.RECIPE_NUMBER
        LEFT JOIN DR_GOOD G ON R.RECIPE_NUMBER = G.RECIPE_NUMBER
        WHERE R.RECIPE_TYPE = '챗봇레시피'  -- 챗봇 레시피 필터링
        GROUP BY R.RECIPE_NUMBER, R.RECIPE_TITLE, U.USER_NICKNAME, R.RECIPE_WRITE_DATE, P.PHOTO_LOCAL
        ORDER BY R.RECIPE_WRITE_DATE   -- 최신순 정렬
    </select>

    <select id="selectMyRecipeDetail" resultType="MyRecipeDetailDTO">
        SELECT
            R.RECIPE_NUMBER,                    -- 레시피 번호
            U.USER_NICKNAME,                    -- 작성자
            TO_CHAR(R.RECIPE_WRITE_DATE, 'YYYY-MM-DD') AS recipeWriteDate,  -- 작성일
            R.RECIPE_TITLE,                     -- 레시피 제목
            R.RECIPE_TEXT,                      -- 레시피 내용
            P.PHOTO_ORINGAL,                    -- 레시피 사진
            UP.PHOTO_LOCAL,                     -- 작성자 프로필 사진
            COUNT(G.GOOD_NUMBER) AS goodCount    -- 좋아요 수
        FROM
            DR_RECIPE R
                JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
                LEFT JOIN DR_GOOD G ON R.RECIPE_NUMBER = G.RECIPE_NUMBER
                LEFT JOIN (SELECT PHOTO_LOCAL AS PHOTO_ORINGAL, RECIPE_NUMBER
                           FROM DR_PHOTO
                           WHERE ROWNUM = 1) P ON P.RECIPE_NUMBER = R.RECIPE_NUMBER
                LEFT JOIN (SELECT PHOTO_LOCAL AS PHOTO_LOCAL, USER_NUMBER
                           FROM DR_PHOTO
                           WHERE ROWNUM = 1) UP ON UP.USER_NUMBER = U.USER_NUMBER
        WHERE
            R.RECIPE_NUMBER = #{recipeNumber}
          AND R.RECIPE_TYPE = '나만의레시피'
        GROUP BY
            R.RECIPE_NUMBER,
            U.USER_NICKNAME,
            R.RECIPE_WRITE_DATE,
            R.RECIPE_TITLE,
            R.RECIPE_TEXT,
            P.PHOTO_ORINGAL,
            UP.PHOTO_LOCAL
    </select>

    <select id="selectChatBotRecipeDetail" resultType="ChatBotRecipeDetailDTO">
        SELECT
            R.RECIPE_NUMBER,                    -- 레시피 번호
            U.USER_NICKNAME,                    -- 작성자
            TO_CHAR(R.RECIPE_WRITE_DATE, 'YYYY-MM-DD') AS recipeWriteDate,  -- 작성일
            R.RECIPE_TITLE,                     -- 레시피 제목
            R.RECIPE_TEXT,                      -- 레시피 내용
            P.PHOTO_ORINGAL,                    -- 레시피 사진
            UP.PHOTO_LOCAL,                     -- 작성자 프로필 사진
            COUNT(G.GOOD_NUMBER) AS goodCount    -- 좋아요 수
        FROM
            DR_RECIPE R
                JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
                LEFT JOIN DR_GOOD G ON R.RECIPE_NUMBER = G.RECIPE_NUMBER
                LEFT JOIN (SELECT PHOTO_LOCAL AS PHOTO_ORINGAL, RECIPE_NUMBER
                           FROM DR_PHOTO
                           WHERE ROWNUM = 1) P ON P.RECIPE_NUMBER = R.RECIPE_NUMBER
                LEFT JOIN (SELECT PHOTO_LOCAL AS PHOTO_LOCAL, USER_NUMBER
                           FROM DR_PHOTO
                           WHERE ROWNUM = 1) UP ON UP.USER_NUMBER = U.USER_NUMBER
        WHERE
            R.RECIPE_NUMBER = #{recipeNumber}
          AND R.RECIPE_TYPE = '챗봇레시피'
        GROUP BY
            R.RECIPE_NUMBER,
            U.USER_NICKNAME,
            R.RECIPE_WRITE_DATE,
            R.RECIPE_TITLE,
            R.RECIPE_TEXT,
            P.PHOTO_ORINGAL,
            UP.PHOTO_LOCAL
    </select>


</mapper>
