<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DR - 회원가입</title>
  <link rel="stylesheet" th:href="@{/css/user/join.css}">
  <link rel="stylesheet" th:href="@{/css/main/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <!-- 네비바 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
  <!-- 제이쿼리 -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script defer th:src="@{/js/main/header.js}"></script>
</head>
<body>

<main>
  <div class="join-joinBox">
    <div class="join-logo">
      <span class="join-joinBlue">회원</span>
      <span class="join-joinOrange">가입</span>
    </div>
    <br><br><br>
    <span class="join-welcome">함께하는 순간을 기다리고 있었습니다 ^.^</span>
    <br>
    <!-- 맛있는 재활용 회원가입 -->
    <div class="join-joinBoxTwo">
      <a th:href="@{/user/drJoin}"><button class="join-emailJoinButton">이메일 주소로 회원가입</button></a>
    </div>
    <br><br><br>

    <!-- 소셜회원가입 -->
    <div class="join-joinBoxThree">
      <div class="join-socialHr">소셜미디어 계정으로 가입</div>
      <br><br>
      <a th:href="@{/user/apiJoin}"><button class="join-kakaoJoinButton">카카오 계정으로 시작하기</button></a>
      <a th:href="@{/user/apiJoin}"><button class="join-naverJoinButton">네이버 계정으로 시작하기</button></a>
    </div>
  </div>
</main>

</body>
</html>
