<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - 로그인</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>

<body>
<header th:replace="~{/fragment/header :: header}"></header>
<main>
    <img class="login-logoImg" th:src="@{/image/logo.png}">
    <div id="login-loginBox">
        <div id="login-logo">
            <span id="login-loginBlue">로그</span>
            <span id="login-loginOrange">인</span>
        </div>
        <br><br>

        <!-- 로그인 입력값 폼 -->
        <form id="login-formOne" method="post" action="/user/login">
            <input type="text" name="userEmail" id="login-loginId" placeholder="아이디 또는 이메일주소" required>
            <input type="password" name="userPw" id="login-loginPw" placeholder="비밀번호" required>
            <img class="login-formTogleOne" th:src="@{/image/view.png}" alt="보이기" style="cursor: pointer;">
            <img class="login-formTogleTwo" th:src="@{/image/noView.png}" alt="숨기기" style="cursor: pointer; display: none;">
            <p id="login-none"></p>
            <button type="submit" id="login-loginButton" class="login-button">로그인</button>
        </form>


        <br><br>

        <!-- 회원가입, 이메일/비밀번호찾기 -->
        <div class="login-formTwo">
            <a th:href="@{/user/join}"><span>회원가입</span></a> |
            <a th:href="@{/user/emailFind}"><span>이메일 찾기</span></a> |
            <a th:href="@{/user/PwFind}"><span>비밀번호 찾기</span></a>
        </div>

        <br><br>

        <!-- 소셜로그인 -->
        <div class="login-formThree">
            <div class="login-socialHr">소셜미디어 계정으로 로그인</div>
            <br><br>
            <a th:href="'https://kauth.kakao.com/oauth/authorize'">
                <button id="login-kakaoButton">카카오 계정으로 로그인</button>
            </a>
            <button id="login-naverButton">네이버 계정으로 로그인</button>
        </div>


    </div>

</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/user/login.js}"></script>

</body>

</html>
