<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DR - 비밀번호 찾기</title>
  <link rel="stylesheet" href="./../../css/user/PwFind.css">
  <link rel="stylesheet" href="../../css/main/header.css">
  <link rel="stylesheet" href="../../css/main/footer.css">
  <!-- 네비바 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
  <!-- 제이쿼리 -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script defer src="../../js/main/header.js"></script>
</head>

<body>
  <header>
    <!-- 비로그인 헤더 -->
    <div class="main-headerContainer">
      <div class="main-headerTop">
        <a href="../../html/main/main.html"><img src="./../../image/logo.png" id="main-logo"></a>
        <div class="main-searchBar">
          <select class="main-dropDown">
            <option value="꿀팁 게시판">꿀팁 게시판</option>
            <option value="나만의 레시피">나만의 레시피</option>
            <option value="챗봇 레시피">챗봇 레시피</option> 
            <option value="자유 게시판">자유 게시판</option>
          </select>
          <input type="text" class="main-searchInput" placeholder="로그인 후 이용 가능합니다" readonly>
          <img src="../../image/searchButton.png" id="main-searchBtn">
        </div>
        <div class="main-visitorBtn">
          <form action="../../html/user/login.html" method="">
            <button class="main-login">로그인</button>
          </form>
          <form action="../../html/user/login.html" method="">
            <button class="main-join">회원가입</button>
          </form>
        </div>
      </div>

      <!--비로그인 네비바 -->
      <div class="main-headerNav">
        <ul class="main-navMenu">
          <li id="main-chatBot"><a href="../../html/user/login.html">냉장봇</a></li>
          <li id="main-rank"><a href="../../html/user/login.html">환경기여 랭킹</a></li>
          <li id="main-recipe">
            레시피
            <ul class="main-recipeList">
              <li><a href="../../html/user/login.html">챗봇레시피</a></li>
              <li><a href="../../html/user/login.html">나만의레시피</a></li>
            </ul>
          </li>
          <li id="main-board">
            게시판
            <ul class="main-boardList">
              <li><a href="../../html/user/login.html">자유게시판</a></li>
              <li><a href="../../html/user/login.html">꿀팁게시판</a></li>
            </ul>
          </li>
          <li id="main-shop"><a href="../../html/user/login.html">포인트샵</a></li>
          <li id="main-myPage">
            마이페이지
            <ul class="main-myPageList">
              <li><a href="../../html/user/login.html">내 정보</a></li>
              <li><a href="../../html/user/login.html">찜 목록</a></li>
              <li><a href="../../html/user/login.html">내가 쓴 레시피</a></li>
              <li><a href="../../html/user/login.html">내가 쓴 게시글</a></li>
              <li><a href="../../html/user/login.html">신고 받은 글</a></li>
              <li><a href="../../html/user/login.html">출석체크</a></li>
              <li><a href="../../html/user/login.html">포인트 내역</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- 로그인 헤더 -->
      <!-- <div class="main-headerContainer">
      <div class="main-headerTop">
        <a href="../../html/main/main.html"><img src="../../image/logo.png" id="main-logo"></a>
        <div class="main-searchBar">
          <select class="main-dropDown">
            <option value="꿀팁 게시판">꿀팁 게시판</option>
            <option value="나만의 레시피">나만의 레시피</option>
            <option value="챗봇 레시피">챗봇 레시피</option>
            <option value="자유 게시판">자유 게시판</option>
          </select>
          <input type="text" class="main-searchInput">
          <img src="../../image/searchButton.png" id="main-searchBtn">
        </div>
        <div class="main-welcomeUser">
          <div class="main-profile">
            <img src="../../image/basicProfile.png">
          </div>
          <div class="main-welcome">정승환님 환영합니다</div>
          <a href="#로그아웃!!#">
            <div class="main-logout">로그아웃</div>
          </a>
        </div>
      </div> -->

      <!-- 로그인 네비바 -->
      <!-- <div class="main-headerNav">
        <ul class="main-navMenu">
          <li id="main-chatBot"><a href="#냉장봇 페이지로">냉장봇</a></li>
          <li id="main-rank"><a href="#랭킹 페이지로">환경기여 랭킹</a></li>
          <li id="main-recipe">
            레시피
            <ul class="main-recipeList">
              <li><a href="#챗봇레시피 페이지로">챗봇레시피</a></li>
              <li><a href="#나만의레시피 페이지로">나만의레시피</a></li>
            </ul>
          </li>
          <li id="main-board">
            게시판
            <ul class="main-boardList">
              <li><a href="#자유게시판 페이지로">자유게시판</a></li>
              <li><a href="#꿀팁게시판 페이지로">꿀팁게시판</a></li>
            </ul>
          </li>
          <li id="main-shop"><a href="#포인트샵 페이지로">포인트샵</a></li>
          <li id="main-myPage">
            마이페이지
            <ul class="main-myPageList">
              <li><a href="#내 정보 페지이로">내 정보</a></li>
              <li><a href="#찜 목록 페이지로">찜 목록</a></li>
              <li><a href="#내가 쓴 레시피 페이지로">내가 쓴 레시피</a></li>
              <li><a href="#내가 쓴 게시글 페이지로">내가 쓴 게시글</a></li>
              <li><a href="#신고 받은 글 페이지로">신고 받은 글</a></li>
              <li><a href="#출석체크 페이지로">출석체크</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div> -->
  </header>
  <main>
    <div class="pwfind-container">
      <div class="pwfind-title">
        <span class="pwfind-leftTitle">비밀번호</span>
        <span class="pwfind-rightTitle">찾기</span>
      </div>
      <form action="" id="apijoinForm" class="pwfind-form">
        <!-- 아이디(이메일) 필드 -->
        <label for="userId" class="pwfind-label">아이디(이메일)</label>
        <div class="pwinput-withButton">
          <input type="text" id="userId" name="userId" class="pwfind-input" placeholder="아이디를 입력하세요." required>
        </div>
        <span class="error-message" id="userIdError"></span>
        <br>
        <!-- 휴대폰 번호 필드 -->
        <label for="phone" class="pwfind-label">휴대폰 번호</label>
        <div class="pwinput-withButton">
          <input type="text" id="phone" name="phone" class="pwfind-input" placeholder="하이픈(-)없이 숫자만 입력해주세요." required>
          <button type="button" id="sendCode" class="pwfind-eventButton">인증요청</button>
        </div>
        <span class="error-message" id="phoneError"></span>
        <br>
        <!-- 인증번호 필드 -->
        <label for="authCode" class="pwfind-label">인증번호</label>
        <div class="pwinput-withButton">
          <input type="text" id="authCode" name="authCode" class="pwfind-input" placeholder="인증번호를 입력해주세요." required>
          <button type="button" id="verifyCode" class="pwfind-eventButton">인증확인</button>
        </div>
        <span class="error-message" id="authCodeError"></span>
        <!-- 인증완료 버튼 -->
        <a href="./PwReset.html"><button type="submit" class="pwfind-finishButton">인증완료</button></a>
      </form>
    </div>
  </main>
  <!-- 푸터 -->
  <footer>
    <div class="main-footerContainer">
      <div id="main-footerText">
        <p><strong><a href="../../html/main/terms.html">이용약관</a> | <a href="../../html/main/privacyPolicy.html">개인정보처리방침</a></strong></p>
        <br>
        <p>(04377)서울특별시 강남구 테헤란로 146 현익빌딩, <br>(06236)서울특별시 강남구 테헤란로26길 12 제일비전타워</p>
        <p>대표이사 : 정승환 | 사업자등록번호 : 13-72011641</p>
        <p>사업자명 : ㈜맛있는 재활용 | 대표이메일 : shjeong19943@gmail.com</p>
      </div>
    </div>
  </footer>
  <script src="./../../js/user/PwFind.js"></script>
</body>

</html>