<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 로그인</title>
  <link rel="stylesheet" href="./../../css/manager/managerLogin.css">
</head>

<body>
  <img class="manager-logoImg" src="./../../image/logo.png">
  <div id="manager-loginBox">
    <div id="manager-logo">  
      <span id="manager-loginBlue">관리자</span>
      <span id="manager-loginOrange">로그인</span>
    </div>
    <br><br>
    <form id="manager-form">
      <input type="text" name="managerId" id="manager-loginId" placeholder="이메일주소">
      <input type="password" name="managerPw" id="manager-loginPw" placeholder="비밀번호">
      <img class="manager-formTogle1" src="./../../image/view.png" alt="토글1">
      <img class="manager-formTogle2" src="./../../image/noView.png" alt="토글2">
      <p id="manager-none"></p>
      <button id="manager-loginButton">로그인</button>
    </form>
  </div>

  <script src="./../../js/manager/managerLogin.js"></script>
</body>

</html>