<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피/게시판 관리</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <link rel="stylesheet" th:href="@{/css/manager/manageRecipe.css}">
</head>

<body>
<a th:href="@{/manager/dashBoard}">
    <img class="manager-logoImg" th:src="@{/image/logo.png}">
</a>

<div id="manager-dashBoardBox">
    <div id="dashBoard-list">
        <ul>
            <a th:href="@{/manager/dashBoard}">
                <li id="dashBoard-admin">
                    <img id="dashBoard-profile" th:src="@{/image/basicProfile.png}">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="${session.managerName}"></span>
                </li>
            </a>
            <a th:href="@{/manager/manageUser}">
                <li id="dashBoard-user">회원관리</li>
            </a>
            <a th:href="@{/manager/manageBoard}">
                <li id="dashBoard-board">게시글 관리</li>
            </a>
            <a th:href="@{/manager/manageRecipe}">
                <li id="dashBoard-recipe">레시피 관리</li>
            </a>
            <a th:href="@{/manager/manageComment}">
                <li id="dashBoard-comment">댓글관리</li>
            </a>
            <a th:href="@{/manager/managePoint}">
                <li id="dashBoard-point">포인트관리</li>
            </a>
            <a th:href="@{/manager/manageReport}">
                <li id="dashBoard-report">신고관리</li>
            </a>
            <a th:href="@{/manager/manageProduct}">
                <li id="dashBoard-product">상품관리</li>
            </a>
        </ul>
    </div>

    <div id="manage-member">
        <div id="manage-memberTop">
            <p id="manage-memberBold">레시피 관리</p>
            <button id="memberOut">삭제</button>
        </div>
        <div id="manage-memberList">
            <ul id="manage-memberUl">
                <li id="manage-memberTitle">
                    <input id="title-check" type="checkbox" value="전체선택">
                    <span id="title-num">No.</span>
                    <span id="title-title">제목</span>
                    <span id="title-name">작성자</span>
                    <span id="title-good">추천수</span>
                    <span id="title-date">작성일</span>
                    <span id="title-type">종류</span>
                </li>

                <li th:if="${recipe != null}">
                    <input type="checkbox" class="con-check" th:value="${recipe.recipeNumber}">
                    <span class="con-num" th:text="${recipe.recipeNumber}"></span>
                    <span class="con-con" th:text="${recipe.recipeTitle}"></span>
                    <span class="con-name" th:text="${recipe.userNickName}"></span>
                    <span class="con-good" th:text="${recipe.goodCount}"></span>
                    <span class="con-date" th:text="${recipe.recipeWriteDate}"></span>
                    <span class="con-type" th:text="${recipe.recipeType}"></span>
                </li>

                <li th:each="recipeList : ${recipeList}" th:if="${recipe == null}">
                    <input type="checkbox" class="con-check" th:value="${recipeList.recipeNumber}">
                    <span class="con-num" th:text="${recipeList.recipeNumber}"></span>
                    <span class="con-con" th:text="${recipeList.recipeTitle}"></span>
                    <span class="con-name" th:text="${recipeList.userNickName}"></span>
                    <span class="con-good" th:text="${recipeList.goodCount}"></span>
                    <span class="con-date" th:text="${recipeList.recipeWriteDate}"></span>
                    <span class="con-type" th:text="${recipeList.recipeType}"></span>
                </li>
            </ul>
            <div id="pagination"></div>
        </div>
    </div>
    <form class="manager-search-form" th:action="@{/manager/recipeSearch}" method="post">
        <input type="text" id="manager-input" name="recipeNumber" placeholder="레시피 번호"/>
        <button class="manager-search">검색</button>
    </form>
</div>
<form th:action="@{/manager/managerLogout}" method="get">
    <button id="manager-logout">로그아웃</button>
</form>

<script th:src="@{/js/manager/manageRecipe.js}"></script>
</body>

</html>