<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피/게시판 관리</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <link rel="stylesheet" href="./../../css/manager/registerProduct.css">
</head>

<body>
<a th:href="@{/manager/dashBoard}">
    <img class="manager-logoImg" src="./../../image/logo.png">
</a>
<div id="manager-dashBoardBox">

    <div id="dashBoard-list">
        <ul>
            <a th:href="@{/manager/dashBoard}">
                <li id="dashBoard-admin">
                    <img id="dashBoard-profile" th:src="@{/image/basicProfile.png}">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="${session.managerName}"></span>
                </li>
            </a>
            <a th:href="@{/manager/manageUser}">
                <li id="dashBoard-user">회원관리</li>
            </a>
            <a th:href="@{/manager/manageBoard}">
                <li id="dashBoard-board">게시글 관리</li>
            </a>
            <a th:href="@{/manager/manageRecipe}">
                <li id="dashBoard-recipe">레시피 관리</li>
            </a>
            <a th:href="@{/manager/manageComment}">
                <li id="dashBoard-comment">댓글관리</li>
            </a>
            <a th:href="@{/manager/managePoint}">
                <li id="dashBoard-point">포인트관리</li>
            </a>
            <a th:href="@{/manager/manageReport}">
                <li id="dashBoard-report">신고관리</li>
            </a>
            <a th:href="@{/manager/manageProduct}">
                <li id="dashBoard-product">상품관리</li>
            </a>
        </ul>
    </div>

    <div id="manage-member">
        <div id="manage-memberTop">
            <p id="manage-memberBold">상품 등록</p>
        </div>

        <div id="manage-register">

            <div id="register-left">
                <div class="register-left-con">
                    상품명
                </div>
                <div id="register-left-img">
                    상품 이미지 등록
                </div>
                <div class="register-left-con">
                    상품코드
                </div>
                <div class="register-left-con">

                </div>
                <div class="register-left-con">
                    소모 포인트
                </div>
            </div>


            <div class="register-right">
                <div class="register-right1">
                    <form class="register-right" th:action="@{/upload/file}" method="post"
                          enctype="multipart/form-data">
                        <div class="register-right-con2">
                            <input type="text" name="productName" placeholder="ex&#41; 비타500">
                        </div>

                        <div id="register-right-img">
                            <input type="file" name="file"><br><br>
                            <button type="submit">사진등록</button>
                        </div>

                        <span th:if="${message}"
                              th:text="${message}"
                              th:classappend="${status == 'success' ? 'success-message' : 'error-message'}">
                        </span>
                    </form>
                </div>


                <div class="register-right2">
                    <div class="register-right-con">
                        <input type="text" name="productCodePlus" placeholder="ex&#41; F51K5" readonly>&nbsp;
                        <button id="numberUp">+</button>
                    </div>

                    <div class="register-right-con" id="targetDiv"></div>

                    <div class="register-right-con">
                        <input type="text" name="productPoint" placeholder="ex&#41; 500">
                    </div>

                    <button id="productButton">상품 등록</button>
                </div>

            </div>

        </div>
    </div>

</div>


<script src="./../../js/manager/registerProduct.js"></script>
</body>

</html>