<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 에러 페이지</title>
    <link rel="stylesheet" th:href="@{/css/error/error403.css}">
    <script defer th:src="@{/js/error/error403.js}"></script>
</head>
<body>
<div class="error-container">
    <div class="error-text">
        <h1>앗! 404 에러</h1>
        <p>찾으시는 페이지가 존재하지 않습니다.</p>
        <a th:href="@{/DRmain}" class="home-button">메인 페이지로 이동</a>
    </div>
</div>
</body>
</html>