<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - 회원탈퇴 주의사항</title>
    <link rel="stylesheet" th:href="@{/css/myPage/myPageCaution.css}">
    <script defer th:src="@{/js/myPage/myPageCaution.js}"></script>
    <!-- 헤더 / 푸터 -->
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer th:src="@{/js/main/header.js}"></script>
</head>

<body>
<!-- 헤더 -->
<header th:replace="~{/fragment/header :: header}"></header>
    <main>
        <!-- 회원 탈퇴 타이틀-->
        <div class="myPage-cautionTitle">
            <span style="color: #317FF0;">회원</span>
            <span style="color: #EBAA39;">탈퇴</span>
        </div>
        <!-- 회원 탈퇴 내용 -->
        <form action="" method="">
            <div class="myPage-cautionWrap">
                <div class="myPage-cautionCheck">
                    회원 탈퇴를 신청하기 전, 다음 내용을 꼭 확인해주세요.
                </div>
                <div class="myPage-cautionCheckText">
                    <ul>
                        <li>• 고객 정보 및 개인형 서비스 이용 기록은 개인 정보보호 처리 방침 기준에 따라 삭제됩니다.</li>
                        <li style="margin-top: 10px; margin-bottom: 10px;">• 회원 탈퇴 시 더 이상 <u>맛있는 재활용 서비스</u> 사용이 불가능하며, 맛있는 재활용 공식 사이트에서도 탈퇴 처리됩니다. </li>
                    </ul>
                </div>
                <div class="myPage-cautionInput">
                    <input type="checkbox" id="myPage-input" name="check-input">&nbsp;안내 사항을 모두 확인하였으며, 이에 동의합니다.
                </div>
            </div>
            <div class="myPage-cautionButton">
                <button type="button" id="myPage-CButton" class="myPage-cautionOk">회원 탈퇴</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{/myPageInformation}"><button class="memberOut-caution-cancel">돌아가기</a></button>
            </div>
        </form>
    </main>
<!-- 푸터 -->
<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>

</html>