<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - 내정보</title>
    <link rel="stylesheet" th:href="@{/css/myPage/myPageInformation.css}">
    <script defer th:src="@{/js/myPage/myPageInformation.js}"></script>
    <!-- 헤더 / 푸터 -->
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer th:src="@{/js/main/header.js}"></script>
</head>

<body>
<!-- 헤더 -->
<header th:replace="~{/fragment/header :: header}"></header>
    <main>
        <!-- 내 정보 타이틀-->
        <div class="myPage-informationTitle">
            <span style="color: #317FF0;">내</span>
            <span style="color: #EBAA39;">정보</span>
        </div>

        <!-- 마이페이지 -->
        <div class="myPage-containerBox">
            <div class="myPage-lengthBar">
                <div id="myPage-informationPage">&nbsp;마이페이지</div>
                <div id="myPage-informationSecond">&nbsp;내 정보</div>
                <div><a href="./../../html/myPage/myPageSteamedList.html">&nbsp;찜목록</a></div>
                <div><a href="./../../html/myPage/myPageMyRecipe.html">&nbsp;내가 쓴 레시피</a></div>
                <div><a href="./../../html/myPage/myPageMyPost.html">&nbsp;내가 쓴 게시글</a></div>
                <div><a href="./../../html/myPage/myPageMyComplaint.html">&nbsp;신고 받은 글</a></div>
                <div><a href="./../../html/myPage/myPageCheck.html">&nbsp;출석 체크</a></div>
                <div id="myPage-informationeighth"><a href="./../../html/myPage/myPageMyPoint.html">&nbsp;포인트내역</a></div>
            </div>
            <!-- 마이페이지 이미지 사진 -->
            <div class="myPage-pictureImage">
                <div class="myPage-profile">
                    <img id="profileImage" src="./../../image/basicProfile.png" alt="프로필 이미지" width="150" height="150">
                    <input type="file" id="imageUpload" style="display: none;">
                    <!-- 이미지 업로드 버튼 (수레바퀴 이미지) -->
                    <img src="./../../image/sawtooth.png" alt="이미지 변경" id="uploadIcon" style="width: 20px; height: 20px; cursor: pointer; margin-top: 10px;">
                </div>
            </div>
            <!-- 마이페이지 내 정보 -->
            <div class="myPage-informationText">
                <div class="myPage-informationTop"></div>
                <div class="myPage-informationName">
                    <div class="myPage-informationLeft">닉네임</div>
                    <div class="myPage-informationRight" id="nicknameDisplay">정승환</div>
                    <input type="text" id="nicknameInput" style="display: none;" value="정승환">
                    <div class="myPage-nickNameChange">닉네임 변경</div>
                    <div id="nicknameError" style="color: red; display: none;">2자 이상 5자 이내의 한글, 영문, 숫자만 허용됩니다.</div>
                </div>
                <div class="myPage-informationId">
                    <div class="mypage-informationIdLeft">아이디</div>
                    <div class="myPge-informationEmail">shjeong1944@gmail.com</div>
                    <div class="myPage-informationPhone">휴대폰번호</div>
                    <div class="myPage-informationNumber">010-4828-2574</div>
                </div>
                <div class="myPage-informationScore">
                    <div class="myPage-informationMyScore">내 환경기여 점수</div>
                    <div class="myPage-informationScoreNumber">154점</div>
                    <div class="myPage-informationRank">내 환경기여 랭킹</div>
                    <div class="myPage-informationRankNumber">1등</div>
                </div>
                <div class="myPage-informationPoint">
                    <div class="myPage-informationPointText">포인트</div>
                    <div class="myPage-informationPointNumber"> 2300 point</div>
                </div>
            </div>
        </div>
        <a href="./../../html/myPage/myPageCaution.html">
            <div class="myPage-outGo">회원탈퇴</div>
        </a>
        <div class="myPage-completeWrite" id="completeWriteBtn">수정완료</div>
    </main>
<!-- 푸터 -->
<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>

</html>