<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - 내가 쓴 게시글</title>
    <link rel="stylesheet" th:href="@{/css/myPage/myPageMyPost.css}">
    <script defer th:src="@{/js/myPage/myPageMyPost.js}"></script>
    <!-- 헤더 / 푸터 -->
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>
<!-- 헤더 -->
<header th:replace="~{/fragment/header :: header}"></header>
    <main>
        <!-- 내가 쓴 게시글 타이틀-->
        <div class="myPage-myPostTitleTop">
            <span style="color: #317FF0;">내가 쓴 </span>
            <span style="color: #EBAA39;">게시글</span>
        </div>
        <!-- 왼쪽 마이페이지 네비바>-->
        <div class="myPage-myPostMain">
            <div class="myPage-myPostContainer">
                <div class="myPage-lengthBar">
                    <div id="myPage-informationPage">&nbsp;마이페이지</div>
                    <div id="myPage-informationSecond"><a th:href="@{/myPage/myPageInformation}">&nbsp;내 정보</a></div>
                    <div id="myPage-informationThree"><a th:href="@{/myPage/myPageSteamedList}">&nbsp;찜목록</a></div>
                    <div id="myPage-informationForth"><a th:href="@{/myPage/myPageMyRecipe}">&nbsp;내가 쓴 레시피</a></div>
                    <div id="myPage-informationFifth"><a th:href="@{/myPage/myPageMyPost}">&nbsp;내가 쓴 게시글</a></div>
                    <div><a th:href="@{/myPage/myPageMyComplaint}">&nbsp;신고 받은 글</a></div>
                    <div><a th:href="@{/myPage/myPageCheck}">&nbsp;출석 체크</a></div>
                    <div id="myPage-informationeighth"><a th:href="@{/myPage/myPageMyPoint}">&nbsp;포인트내역</a></div>
                </div>
            </div>
            <!-- 신고 내역 -->
            <div class="myPage-myPostWrap">
                <div class="myPage-myPostTitleMain">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumber">순번</span>
                            <div class="vertical-bar"></div>
                            <span class="myPage-myPostTitleContent">제목</span>
                            <div class="vertical-bar"></div>
                            <span class="myPage-myPostTitleContentType">유형</span>
                            <div class="vertical-bar"></div>
                            <span class="myPage-myPostTitleCause">추천 수</span>
                            <div class="vertical-bar"></div>
                            <span class="myPage-myPostTitleDate">등록 날짜</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">1</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">숨은 맛집 발견! 현지인만 아는 고깃집</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">자유 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">51</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-12-05</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">2</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">흑백요리사 1위는 나폴리 요리사</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">135</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2025-01-23</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">3</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">이 동네 최고! 줄 서서 먹는 떡볶이 맛집</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">자유 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">20</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-12-03</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">4</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">브런치 천국! 분위기 좋은 카페 추천</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">321</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-12-11</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">5</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">바삭바삭! 감칠맛 나는 치킨 맛집</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">자유 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">5233</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2025-02-07</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">6</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">가성비 갑! 한우 정식 맛집 리뷰</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">50</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-10-29</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">7</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">비 오는 날 생각나는 뜨끈한 국밥 맛집</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">자유 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">5929</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-09-32</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">8</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">달콤쌉싸름, 디저트 천국의 초콜릿 카페</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">23</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-10-20</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">9</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">바다의 신선함! 숨겨진 회 맛집</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">자유 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">328</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-09-01</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">10</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">푸짐한 양과 맛! 즉석떡</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">8282</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-10-25</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">11</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">푸짐한 양과 맛! 즉석떡</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">8282</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-10-25</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">12</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">푸짐한 양과 맛! 즉석떡</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">8282</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-10-25</span>
                        </li>
                    </ul>
                </div>
                <div class="myPage-myPostTitleMainOne">
                    <ul>
                        <li>
                            <span class="myPage-myPostTitleNumberZero">13</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentOne">후하후하 심호흡하자!!!!</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleContentTypeTwo">꿀팁 게시판</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleCauseThree">8282</span>
                            <div class="vertical-barSecond"></div>
                            <span class="myPage-myPostTitleDateFour">2024-10-25</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 페이지 네이션 -->
        <div id="pagination"></div>
    </main>
<!-- 푸터 -->
<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>

</html>