*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#dashBoard-point{
  color: #EBAA39;
}

.manager-logoImg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  cursor: pointer;
}

#manager-dashBoardBox {
  width: 1380px;
  height: 600px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: lightgray;

}

#dashBoard-list {
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

#dashBoard-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#dashBoard-list li {
  margin-left: 10px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #EBAA39;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
}

#dashBoard-admin {
  color: black;
}

#dashBoard-span {
  position: absolute;
  top: 7%;
  left: 12%;
}

#dashBoard-profile {
  position: absolute;
  left: 6%;
  width: 50px;
  height: 50px;
}

#manage-member {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 5px;

}

#manage-memberTop {
  height: 15%;
}

#manage-memberBold {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

#memberPause {
  position: absolute;
  top: 13%;
  right: 9%;
  width: 80px;
  height: 30px;
  background-color: #F66F58;
  color: white;
  border-radius: 5px;
  border: white;
  cursor: pointer;
}

#memberOut {
  position: absolute;
  top: 13%;
  right: 3%;
  width: 70px;
  height: 30px;
  background-color: #EBAA39;
  color: white;
  border-radius: 5px;
  border: white;
  cursor: pointer;
}

#manage-memberList {
  margin-top: 15px;
  margin-left: 20px;
  width: 95%;
  border-radius: 5px;
  height: 80%;
}

#manage-memberUl {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#manage-memberUl li {

  height: 28px;
  line-height: 24px;
  border-bottom: 1px solid black;
  display: flex;
}


#manage-memberUl li:first-child {
  display: flex;
  height: 35px;
  line-height: 30px;
  background-color: lightgray;
}

#title-check {
  position: absolute;
  left: 23.2%;
  top: 21%;

}

#title-num {
  position: absolute;
  left: 28%;
  top: 19.5%;
}

#title-name {
  position: absolute;
  left: 34%;
  top: 19.5%;
}

#title-email {
  position: absolute;
  left: 45%;
  top: 19.5%;
}

#title-points {
  position: absolute;
  left: 55%;
  top: 19.5%;
}

#title-point {
  position: absolute;
  left: 64%;
  top: 19.5%;
}

#title-date {
  position: absolute;
  left: 79%;
  top: 19.5%;
}

#title-sum {
  position: absolute;
  left: 89%;
  top: 19.5%;
}

#manage-pages {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.manage-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#manager-select {
  position: absolute;
  top: 13%;
  left: 25%;
}

#manager-select select {
  width: 100px;
  height: 30px;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination .paginationjs-pages {
  display: flex;
}

#pagination .paginationjs-pages li {
  list-style: none;
  margin-right: 8px; /* 숫자 박스 간 간격 */
  border-right: 1px solid #aaa; /* 기본 페이지 번호의 오른쪽 경계선 */
}

#pagination .paginationjs-pages li:last-child {
  border-right: none; /* 마지막 페이지에는 오른쪽 경계선 제거 */
  margin-right: 0; /* 마지막 페이지에도 오른쪽 여백 제거 */
}

#pagination .paginationjs-pages li a {
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: #fff;
  font-size: 14px;
  color: #333;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#pagination .paginationjs-pages li a:hover {
  background: #eee;
}

#pagination .paginationjs-pages li.active {
  border-right: none; /* active 상태에서 오른쪽 경계선 없애기 */
}

#pagination .paginationjs-pages li.active a {
  background: #317FF0; /* active 상태일 때 배경색 */
  color: #fff; /* active 상태일 때 텍스트 색상 */
}

#pagination .paginationjs-pages li.disabled a {
  opacity: 0.5;
}

/* >> 버튼 스타일 */
#pagination .paginationjs-pages li.paginationjs-next {
  border-right: 1px solid #aaa; /* >> 버튼에 오른쪽 경계선 추가 */
}

#pagination .paginationjs-go-input input[type="text"],
#pagination .paginationjs-go-button input[type="button"] {
  background: #317FF0; /* 버튼 배경색 */
  color: #fff;
  border: none; /* 버튼 보더 제거 */
  border-radius: 5px;
  padding: 0 8px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#pagination .paginationjs-go-button input[type="button"]:hover,
#pagination .paginationjs-go-input input[type="text"]:hover {
  background-color: #286bbd;
}

.point-num {
  width: 15%;
  text-align: center;
}

.point-name {
  width: 10%;
}

.point-email {
  width: 25%;
}

.point-check {
  width: 15%;
}

.point-point {
  width: 15%;
}

.point-date {
  width: 25%;
}

.point-sum {
  width: 10%;
}

#manager-logout {
  position: absolute;
  right: 3%;
  top: 4%;
  width: 70px;
  height: 35px;
  background-color: #EBAA39;
  border: white;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.manager-search-form {
  position: absolute;
  left: 53%;
  top: 9%;
  width: 240px;
  height: 40px;
}

#manager-input {
  width: 70%;
}

.manager-search{
  color: white;
  background-color: #ebaa39;
  border: white;
  border-radius: 5px;
  width: 50px;
  height: 23px;
}




