<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr.mapper.manager.ManagerMapper">
    <select id="managerLogin" resultType="ManagerSessionDTO">
        SELECT MANAGER_NAME
        FROM DR_MANAGER
        WHERE MANAGER_EMAIL = #{managerEmail} AND MANAGER_PW = #{managerPw}
    </select>


</mapper>
