<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - 환경기여 랭킹</title>
    <link rel="stylesheet" href="./../../css/rank/userRank.css">
    <script defer src="./../../js/rank/userRank.js"></script>
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer src="../../js/main/header.js"></script>
    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>
    <header>
        <!-- 비로그인 헤더 -->
        <!-- <div class="main-headerContainer">
        <div class="main-headerTop">
          <a href="../../html/main/main.html"><img src="/image/logo.png" id="main-logo"></a>
          <div class="main-searchBar">
            <select class="main-dropDown">
              <option value="꿀팁 게시판">꿀팁 게시판</option>
              <option value="나만의 레시피">나만의 레시피</option>
              <option value="챗봇 레시피">챗봇 레시피</option>
              <option value="자유 게시판">자유 게시판</option>
            </select>
            <input type="text" class="main-searchInput" placeholder="로그인 후 이용 가능합니다" readonly>
            <img src="../../image/searchButton.png" id="main-searchBtn">
          </div>
          <div class="main-visitorBtn">
            <a href="#로그인 페이지로">
              <div class="main-login">로그인</div>
            </a>
            <a href="#회원가입 페이지로#">
              <div class="main-join">회원가입</div>
            </a>
          </div>
        </div> -->

        <!--비로그인 네비바 -->
        <!-- <div class="main-headerNav">
      <ul class="main-navMenu">
        <li id="main-chatBot"><a href="#로그인 페이지로">냉장봇</a></li>
        <li id="main-rank"><a href="#로그인 페이지로">환경기여 랭킹</a></li>
        <li id="main-recipe">
          레시피
          <ul class="main-recipeList">
            <li><a href="#로그인 페이지로">챗봇레시피</a></li>
            <li><a href="#로그인 페이지로">나만의레시피</a></li>
          </ul>
        </li>
        <li id="main-board">
          게시판
          <ul class="main-boardList">
            <li><a href="#로그인 페이지로">자유게시판</a></li>
            <li><a href="#로그인 페이지로">꿀팁게시판</a></li>
          </ul>
        </li>
        <li id="main-shop"><a href="#로그인 페이지로">포인트샵</a></li>
        <li id="main-myPage">
          마이페이지
          <ul class="main-myPageList">
            <li><a href="#로그인 페이지로">내 정보</a></li>
            <li><a href="#로그인 페이지로">찜 목록</a></li>
            <li><a href="#로그인 페이지로">내가 쓴 레시피</a></li>
            <li><a href="#로그인 페이지로">내가 쓴 게시글</a></li>
            <li><a href="#로그인 페이지로">신고 받은 글</a></li>
            <li><a href="#로그인 페이지로">출석체크</a></li>
          </ul>
        </li>
      </ul>
    </div> -->

        <!-- 로그인 헤더 -->
        <div class="main-headerContainer">
            <div class="main-headerTop">
                <a href="../../html/main/main.html"><img src="./../../image/logo.png" id="main-logo"></a>
                <div class="main-searchBar">
                    <select class="main-dropDown">
            <option value="꿀팁 게시판">꿀팁 게시판</option>
            <option value="나만의 레시피">나만의 레시피</option>
            <option value="챗봇 레시피">챗봇 레시피</option>
            <option value="자유 게시판">자유 게시판</option>
          </select>
                    <input type="text" class="main-searchInput">
                    <img src="../../image/searchButton.png" id="main-searchBtn">
                </div>
                <div class="main-welcomeUser">
                    <div class="main-profile">
                        <img src="../../image/basicProfile.png">
                    </div>
                    <div class="main-welcome">정승환님 환영합니다</div>
                    <a href="#로그아웃!!#">
                        <div class="main-logout">로그아웃</div>
                    </a>
                </div>
            </div>

            <!-- 로그인 네비바 -->
            <div class="main-headerNav">
                <ul class="main-navMenu">
                    <li id="main-chatBot"><a href="./../../html/chatBot/nangjangbot.html">냉장봇</a></li>
                    <li id="main-rank"><a href="./../../html/rank/userRank.html">환경기여 랭킹</a></li>
                    <li id="main-recipe">
                        레시피
                        <ul class="main-recipeList">
                            <li><a href="./../../html/recipe/chatBotRecipeList.html">챗봇레시피</a></li>
                            <li><a href="./../../html/recipe/myRecipeList.html">나만의레시피</a></li>
                        </ul>
                    </li>
                    <li id="main-board">
                        게시판
                        <ul class="main-boardList">
                            <li><a href="./../../html/board/freeBoardList.html">자유게시판</a></li>
                            <li><a href="./../../html/board/honeyBoardList.html">꿀팁게시판</a></li>
                        </ul>
                    </li>
                    <li id="main-shop"><a href="./../../html/shop/pointShop.html">포인트샵</a></li>
                    <li id="main-myPage">
                        마이페이지
                        <ul class="main-myPageList">
                            <li><a href="./../../html/myPage/myPageInformation.html">내 정보</a></li>
                            <li><a href="./../../html/myPage/myPageSteamedList.html">찜 목록</a></li>
                            <li><a href="./../../html/myPage/myPageMyRecipe.html">내가 쓴 레시피</a></li>
                            <li><a href="./../../html/myPage/myPageMyPost.html">내가 쓴 게시글</a></li>
                            <li><a href="./../../html/myPage/myPageMyComplaint.html">신고 받은 글</a></li>
                            <li><a href="./../../html/myPage/myPageCheck.html">출석체크</a></li>
                            <li><a href="./../../html/myPage/myPageMyPoint.html">포인트 내역</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <!-- 환경기여 랭킹 타이틀-->
        <div class="userRankTitle">
            <span style="color: #317FF0;">환경기여</span>
            <span style="color: #EBAA39;">랭킹</span>
        </div>
        <div class="userRankMyScore">
            <div class="userRankMyScoreNumber">내 랭킹</div>
            <div>66위&nbsp;</div>
            <div>(1590점)</div>
            <div class="userRankquestion">?</div>
            <div class="userRankAnswer">점수 및 포인트 적립방법<br><br> 1. 챗봇 레시피 등록 3회당 환경기여 점수 <u>10점</u><br><br> 2. 내가 쓴 레시피 타 유저가 추천 시 환경기여 점수 <u>5점</u><br><br> 3. 매달 초 환경기여 랭킹에 따라 포인트 차등 지급 <br> - 1등 ~ 5등 : 500포인트<br> - 6등 ~ 10등 : 400포인트<br> - 11등 ~ 20등 : 300포인트<br> - 21등 ~ 30등 : 200포인트<br>                - 31등 ~ 50등 : 100포인트<br> - 그외 등수 50포인트 <br><br> 4. 점수를 통한 랭킹 외 포인트 적립 가능 <br> - 출석체크는 하루에 한번만 가능 <br> - 출석체크 시 10포인트 적립 <br> - 30일 연속 출석 시 200포인트 추가 지급 <br> - 개근 달성 유지 시 매월 초 자동 지급
            </div>
        </div>
        <!-- 랭킹 순위 !-->
        <div class="userRankType">
            <div class="userRankRanking">순위</div>
            <div class="userRankImage">이미지</div>
            <div class="userRankName">이름</div>
            <div class="userRankNameContributingScore">환경기여 점수</div>
        </div>
        <!-- 1등 랭킹 -->
        <div class="userRankTypeOne">
            <div class="userRankRankingOne"><img class="userRankOneTwoThree" src="./../../image/myPage/goldMedal.png"></div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imgZero.jpg"></div>
            <div class="userRankNameOne">이강철</div>
            <div class="userRankNameContributingScoreOne">5000점</div>
        </div>
        <!-- 2등 랭킹 -->
        <div class="userRankTypeOne">
            <div class="userRankRankingOne"><img class="userRankOneTwoThree" src="./../../image/myPage/silverMedal.png"></div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageTwo.jpg"></div>
            <div class="userRankNameOne">강백호</div>
            <div class="userRankNameContributingScoreOne">4000점</div>
        </div>
        <!-- 3등 랭킹 -->
        <div class="userRankTypeOne">
            <div class="userRankRankingOne"><img class="userRankOneTwoThree" src="./../../image/myPage/bronzeMedal.png"></div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageOne.jpg"></div>
            <div class="userRankNameOne">배정대</div>
            <div class="userRankNameContributingScoreOne">3500점</div>
        </div>
        <!-- 4등 ~ 10등 랭킹 -->
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">4</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageFour.jpg"></div>
            <div class="userRankNameOne">누굴까?</div>
            <div class="userRankNameContributingScoreOne">3000점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">5</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageThree.jpg"></div>
            <div class="userRankNameOne">맞춰봐</div>
            <div class="userRankNameContributingScoreOne">2800점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">6</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageFive.jpg"></div>
            <div class="userRankNameOne">기타 타자</div>
            <div class="userRankNameContributingScoreOne">2500점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">7</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageSix.jpg"></div>
            <div class="userRankNameOne">외야수</div>
            <div class="userRankNameContributingScoreOne">2000점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">8</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageSeven.jpg"></div>
            <div class="userRankNameOne">1루수</div>
            <div class="userRankNameContributingScoreOne">1800점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">9</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageEight.jpg"></div>
            <div class="userRankNameOne">2루수</div>
            <div class="userRankNameContributingScoreOne">1500점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">10</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageFour.jpg"></div>
            <div class="userRankNameOne">누굴까</div>
            <div class="userRankNameContributingScoreOne">1300점</div>
        </div>
        <!-- 페이지네이션 2번째  -->
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">11</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageFour.jpg"></div>
            <div class="userRankNameOne">누굴까</div>
            <div class="userRankNameContributingScoreOne">1300점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">12</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageFour.jpg"></div>
            <div class="userRankNameOne">누굴까</div>
            <div class="userRankNameContributingScoreOne">1300점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">13</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageFour.jpg"></div>
            <div class="userRankNameOne">누굴까</div>
            <div class="userRankNameContributingScoreOne">1300점</div>
        </div>
        <div class="userRankTypeOne">
            <div class="userRankRankingOne">14</div>
            <div class="userRankImageOne"><img class="userRankOneImgSet" src="./../../image/myPage/imageFour.jpg"></div>
            <div class="userRankNameOne">누굴까</div>
            <div class="userRankNameContributingScoreOne">1300점</div>
        </div>
        <!-- 페이지 네이션 -->
        <div id="pagination"></div>
    </main>
    <!-- 푸터 -->
    <footer>
        <div class="main-footerContainer">
            <div id="main-footerText">
                <p><strong><a href="./../../html/main/terms.html">이용약관</a> | <a href="./../../html/main/privacyPolicy.html">개인정보처리방침</a></strong></p>
                <br>
                <p>(04377)서울특별시 강남구 테헤란로 146 현익빌딩, <br>(06236)서울특별시 강남구 테헤란로26길 12 제일비전타워</p>
                <p>대표이사 : 정승환 | 사업자등록번호 : 13-72011641</p>
                <p>사업자명 : ㈜맛있는 재활용 | 대표이메일 : shjeong19943@gmail.com</p>
            </div>
        </div>
    </footer>
</body>

</html>