<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr.mapper.shop.PointShopMapper">

    <!-- 내 포인트 조회 -->
    <select id="getMyPoint" parameterType="Long" resultType="Long">
        SELECT SUM(DP.POINT_GET) - SUM(DP.POINT_USE) AS "TOTAL_POINT"
        FROM DR_USER DU
                 JOIN DR_POINT DP ON DU.USER_NUMBER = DP.USER_NUMBER
        WHERE DU.USER_NUMBER = #{userNumber} -- 현재 로그인 한 회원
    </select>

    <!-- 모든 상품 조회 -->
    <select id="selectAllProduct" resultType="PointShopDTO">
        SELECT DPH.PHOTO_LOCAL, DP.PRODUCT_NAME, DP.PRODUCT_PRICE, STOCK.PRODUCT_COUNT
        FROM DR_PRODUCT DP
                 JOIN DR_PHOTO DPH ON DP.PRODUCT_NUMBER = DPH.PRODUCT_NUMBER
                 JOIN (SELECT PRODUCT_NAME, COUNT(PRODUCT_NUMBER) AS PRODUCT_COUNT
                       FROM DR_PRODUCT
                       GROUP BY PRODUCT_NAME) STOCK ON DP.PRODUCT_NAME = STOCK.PRODUCT_NAME
        GROUP BY DPH.PHOTO_LOCAL, DP.PRODUCT_NAME, DP.PRODUCT_PRICE, STOCK.PRODUCT_COUNT
        ORDER BY DP.PRODUCT_PRICE
    </select>

    <!-- 유저의 선택 상품 및 갯수만큼의 코드 조회 -->
    <select id="getProductCode" parameterType="PointShopDTO" resultType="String">
        <![CDATA[
        SELECT PRODUCT_CODE
        FROM DR_PRODUCT
        WHERE PRODUCT_NAME = #{pointShopDTO.productName} -- 유저가 선택한 상품
        AND ROWNUM <= #{pointShopDTO.quantity} ]]> -- 유저가 입력한 갯수
    </select>

    <!-- 유저의 핸드폰 번호 조회 -->
    <select id="getUserPhone" parameterType="Long" resultType="String">
        SELECT USER_PHONE
        FROM DR_USER
        WHERE USER_NUMBER = #{userNumber} -- 현재 로그인 한 회원
    </select>

    <!-- 유저가 사용한 포인트 테이블에 추가 -->
    <insert id="insertUsePoint" parameterType="PointShopDTO">
        INSERT INTO DR_POINT (POINT_NUMBER, POINT_NOTE, POINT_USE, USER_NUMBER)
        VALUES (SEQ_POINT_NUMBER.NEXTVAL, '상품구매', #{totalCost}, #{userNumber})
    </insert>

    <!-- 유저에게 코드 전송후 삭제할 쿼리 -->
    <delete id="deleteCode" parameterType="PointShopDTO">
        <![CDATA[
        DELETE FROM DR_PRODUCT
        WHERE PRODUCT_CODE IN (
        SELECT PRODUCT_CODE
        FROM DR_PRODUCT
        WHERE PRODUCT_NAME = #{pointShopDTO.productName}
        AND ROWNUM <= #{pointShopDTO.quantity}
        )]]>
    </delete>

</mapper>
