* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    width: 1100px;
    margin: 0 auto;
    height: 900px;
}

li {
    list-style: none;
}

.myPage-myComplaintTitleTop {
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 55px;
}


/* ------- 왼쪽 마이페이지 메뉴바 ------*/

#myPage-informationPage {
    background-color: #ccc;
    padding-top: 17px;
    font-weight: bold;
    font-size: 21px;
}

#myPage-informationsisxth {
    color: #EBAA39;
}

.myPage-lengthBar {
    margin-top: 43px;
}


/* 마이페이지 메뉴 스타일 */

.myPage-lengthBar div {
    font-size: 17px;
    margin: 25px 0;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
    width: 170px;
    color: #1a1a1a;
    font-weight: 600;
}


/* 호버 시 글씨 색을 주황색으로 변경 */

.myPage-lengthBar div:hover {
    color: #EBAA39;
    cursor: pointer;
}


/* 출석 체크의 보더선 제거 */

.myPage-lengthBar div:last-child {
    border-bottom: none;
}


/* -------왼쪽 마이페이지 메뉴바 ------ */

.vertical-bar {
    width: 2px;
    height: 20px;
    background-color: #333333;
    display: inline-block;
    margin-right: 5px;
}

.vertical-barSecond {
    width: 1px;
    height: 20px;
    background-color: #333333;
    display: inline-block;
    margin-right: 5px;
}

.myPage-myComplaintTitleMain li {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid #424242;
    padding-bottom: 5px;
    padding-top: 5px;
}

.myPage-myComplaintMain {
    display: flex;
}

.myPage-myComplaintTitle {
    font-size: 25px;
    font-weight: bold;
    color: #525252;
}

.myPage-myComplaintTitleType {
    font-size: 25px;
    font-weight: bold;
    color: #525252;
}

.myPage-myComplaintTitleContentType {
    font-size: 22px;
    font-weight: bold;
    color: #525252;
    padding-right: 30px;
}

.myPage-myComplaintTitleDate {
    font-size: 22px;
    font-weight: bold;
    color: #525252;
    padding-right: 100px;
}

.myPage-myComplaintTitleContent {
    font-size: 22px;
    font-weight: bold;
    color: #525252;
    padding-right: 275px;
}

.myPage-myComplaintTitleMain {
    padding-top: 45px;
    padding-left: 50px;
}

.myPage-myComplaintTitleCause {
    font-size: 22px;
    font-weight: bold;
    color: #525252;
    margin-right: 28px;
}

.myPage-myComplaintTitleNumber {
    font-size: 22px;
    font-weight: bold;
    color: #525252;
    padding-right: 10px;
}

.myPage-myComplaintTitleNumberZero {
    font-size: 20px;
    color: #525252;
    width: 54px;
}

.myPage-myComplaintTitleContentOne {
    font-size: 20px;
    color: #525252;
    width: 100%;
    display: inline-block;
    /* 또는 block */
    width: 400px;
    /* 원하는 너비 값 설정 */
    white-space: nowrap;
    /* 텍스트 줄 바꿈 방지 */
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis;
    /* 넘치는 텍스트를 생략(...) 처리 */
}

.myPage-myComplaintTitleContentTypeTwo {
    font-size: 20px;
    color: #525252;
    width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.myPage-myComplaintTitleCauseThree {
    font-size: 20px;
    color: #525252;
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.myPage-myComplaintTitleDateFour {
    font-size: 20px;
    color: #525252;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPage-myComplaintTitleMainOne {
    padding-left: 50px;
}

.myPage-myComplaintTitleMainOne li {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #424242;
    padding-top: 5px;
    padding-bottom: 5px;
}

.myPage-myComplaintTitleMainFinal {
    padding-left: 50px;
}

.myPage-myComplaintTitleMainFinal li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #424242;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* 페이지 네이션 */

#pagination {
    position: relative;
    left: 560px;
    top: -60px;
}