* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    width: 1100px;
    margin: 0 auto;
    height: 1500px;
}

li {
    list-style: none;
}

.myPage-myRecipeTitle {
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 30px;
}


/* ------- 왼쪽 마이페이지 메뉴바 ------*/

#myPage-informationPage {
    background-color: #ccc;
    padding-top: 17px;
    font-weight: bold;
    font-size: 21px;
}

#myPage-informationForth {
    color: #EBAA39;
}

.myPage-lengthBar {
    margin-top: 43px;
}


/* 마이페이지 메뉴 스타일 */

.myPage-lengthBar div {
    font-size: 17px;
    margin: 25px 0;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
    width: 170px;
    color: #1a1a1a;
    font-weight: 600;
}


/* 호버 시 글씨 색을 주황색으로 변경 */

.myPage-lengthBar div:hover {
    color: #EBAA39;
    cursor: pointer;
}


/* 출석 체크의 보더선 제거 */

.myPage-lengthBar div:last-child {
    border-bottom: none;
}


/* -------왼쪽 마이페이지 메뉴바 ------ */

.myPage-steamedListContainer {
    display: flex;
}

.myPage-myRecipeInside {
    display: flex;
}

#myPage-myRecipeOne {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.myPage-myRecipeWrap {
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
}

.myPage-myRecipeMiddleTitle {
    font-weight: 700;
    color: #000000;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

.myPage-myRecipeName {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
}

.myPage-myRecipeListDelete {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
}


/* 내가 쓴 레시피 글 및 이미지 */

.myPage-myRecipeContainerReal {
    position: relative;
}

.myPage-myRecipeWrap {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    /* 3개의 열로 구성 */
    position: absolute;
    top: -605px;
    left: 205px;
}

.myPage-myRecipeprideOne {
    padding-right: 50px;
    margin-bottom: 40px;
}

.myPage-myRecipeprideTwo {
    padding-right: 50px;
}

#pagination {
    position: absolute;
    top: 546px;
    left: 582px;
}