* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  outline: none;
}

/* 헤더 */
image {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 92.5px;
}

.main-headerContainer {
  width: 100%;
  height: 92.5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  z-index: 5;
}

.main-headerTop {
  width: 1100px;
  height: 57.1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61.1px;
}

#main-logo {
  cursor: pointer;
  width: 130px;
}

.main-searchBar {
  position: relative;
  width: 450px;
  /* height: 30px; */
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-dropDown {
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 5px;
  border: none;
  appearance: none;
  outline: none;
  background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="black"><polygon points="0,0 10,10 20,0"/></svg>') no-repeat right 10px center;
  /* 역삼각형 화살표 */
  background-size: 10px;
  /* 화살표 크기 조정 */
}

.main-searchInput {
  width: 290px;
  border: none;
  outline: none;
  font-size: 12px;
}

#main-searchBtn {
  cursor: pointer;
  width: 35px;
}

.main-welcomeUser {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.main-profile {
  width: 33px;
  height: 33px;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-right: 5px;
  overflow: hidden;
}

.main-profile img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.main-welcome {
  margin-right: 10px;
}

.main-visitorBtn {
  position: relative;
  display: flex;
  color: white;
  font-size: 12px;
}

.main-join,
.main-login,
.main-logout {
  cursor: pointer;
  border-radius: 5px;
  background-color: #EBAA39;
  width: 70px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
}

.main-join {
  margin-left: 10px;
}

.main-login {
  width: 60px;
}

/* 네비바 */
ul,
li {
  list-style-type: none;
}

.main-headerNav {
  width: 1100px;
  /* height: 31.5px; */
}

.main-navMenu {
  width: 1100px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.main-navMenu li,
.main-recipeList li a,
.main-boardList li a,
.main-myPageList li a,
#main-chatBot a,
#main-rank a,
#main-shop a {
  font-family: 'Cute Font', cursive;
  cursor: pointer;
}

#main-rank {
  color: #EBAA39;
}

.main-recipeList,
.main-boardList,
.main-myPageList {
  display: none;
  position: fixed;
  background-color: white;
  top: 95px;
  border-radius: 5px;
  padding: 7px;
  z-index: 5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-recipeList li:hover,
.main-boardList li:hover,
.main-myPageList li:hover {
  color: #317FF0;
}