<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../../css/recipe/chatBotRecipeWriter.css">
  <link rel="stylesheet" href="../../css/main/header.css">
  <link rel="stylesheet" href="../../css/main/footer.css">
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <!-- 네비바 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
  <!-- 제이쿼리 -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script defer src="../../js/main/header.js"></script>

  <title>DR - 나만의 레시피 작성</title>
</head>
<body>
  <main>
    <div class="chatBotRecipeWriter-mainContainer">
      <div class="chatBotRecipeWriter-mainBox">
        <div class="chatBotRecipeWriter-title">
          <span class="chatBotRecipeWriter-text1">챗봇 레시피</span>
          <span class="chatBotRecipeWriter-text2">글쓰기</span>
        </div>

        <div class="chatBotRecipeWriter-warning">
          <p class="chatBotRecipeWriter-warningText">1. 챗봇 레시피는 챗봇 채팅 사진과 음식 완성 사진이 필요합니다</p>
          <p class="chatBotRecipeWriter-warningText">2. 허위작성 적발시 적립한 환경기여점수,포인트에 불이익을 받을 수 있습니다</p>
          <p class="chatBotRecipeWriter-warningText">3. 음식대표사진, 레시피사진 순으로 사진 등록하지 않으면 점수가 회수될 수 있습니다.</p>
        </div>

        <div class="chatBotRecipeWriter-inputContainer">
          <input type="text" class="chatBotRecipeWriter-titleInput" id="titleInput" placeholder="제목을 입력하세요">
        </div>

        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <div id="contsEditor"></div>
        <script>
          const editor = new toastui.Editor({
            el: document.querySelector('#contsEditor'),
            previewStyle: 'vertical',
            initialEditType: 'markdown',
            height: '500px',
            placeholder: '내용을 입력해 주세요.',
          });
        </script>

        <div class="chatBotRecipeWriter-write">
          <a href="./chatBotRecipeList.html"><button class="chatBotRecipeWriter-writeButton" id="registerButton">등록</button></a>
        </div>
      </div>
    </div>
  </main>
  <script src="./../../js/recipe/chatBotRecipeWriter.js" defer></script>
</body>

</html>