<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/recipe/myDetailPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>

    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <title>DR - 나만의 레시피 상세페이지</title>
</head>

<body>
<header th:replace="~{/fragment/header :: header}"></header>
<!-- 메인 부분 -->
<main>
    <div class="myDetailPage-mainContainer">
        <div class="myDetailPage-mainBox">
            <div class="myDetailPage-infobox">
                <div class="myDetailPage-infoFirst">
                    <div class="myDetailPage-infoInBox1">
                        <img th:src="@{/image/photo/} + ${recipeDetail.photoLocal}" alt="유저 이미지">
                    </div>
                    <div class="myDetailPage-infoInBox2">
                        <p class="myDetailPage-writeName" th:text="${recipeDetail.userNickName}"></p>
                        <p class="myDetailPage-foodTitle" th:text="${recipeDetail.recipeTitle}"></p>
                        <p class="myDetailPage-date" th:text="${recipeDetail.recipeWriteDate}"></p>
                    </div>
                </div>

                <div class="myDetailPage-infoSecond">
                    <div class="myDetailPage-firstButton">
                        <button class="myDetailPage-buttonOne">수정</button>
                        <button id="deleteButton" class="myDetailPage-buttonOne">삭제</button>
                    </div>
                    <div class="myDetailPage-secondButton">
                        <div class="myDetailPage-buttonImg">
                            <a id="heartLink" th:href="@{/recipe/like}">
                                <img id="heartImage1" th:src="@{/image/heartColor.png}" alt="하트 이미지">
                            </a>
                        </div>
                        <div class="myDetailPage-buttonImg">
                            <a id="heartUnlink" th:href="@{/recipe/unlike}">
                                <img id="heartImage2" th:src="@{/image/heartGray.png}" alt="하트 이미지">
                            </a>
                        </div>

                        <button class="myDetailPage-buttonTwo">신고</button>
                    </div>
                </div>
            </div>

            <!-- 글 내용 -->
            <div class="myDetailPage-writetext">
                <p class="myDetailPage-texts" th:text="${recipeDetail.recipeText}"></p>
                <img th:src="@{/image/photo/} + ${recipeDetail.photoLocal}" alt="레시피 이미지">
                <div class="myDetailPage-recommendImg">
                    <input type="hidden" name="recipeNumber" th:value="${recipeDetail.recipeNumber}">
                    <img src="/image/recommend.png" id="recommendImg"
                         class="recommend-inactive"
                         alt="추천 이미지">
                    <p id="recommendCount" th:text="'추천수: ' + ${recipeDetail.goodCount}">추천수: 0</p>
                </div>
            </div>

            <!-- 댓글들 -->
            <div class="myDetailPage-commentSection">
                <div class="myDetailPage-commentInput" id="commentInput">
                    <form th:action="@{/recipe/myDetailPage}" method="post">
                        <input type="hidden" name="recipeNumber" th:value="${recipeDetail.recipeNumber}"/>
                        <textarea id="commentTextArea" placeholder="댓글을 입력하세요" rows="3" name="replyText"></textarea>
                        <input type="hidden" name="userNumber" th:value="${session.userNumber}"/> <!-- 세션 값을 폼에 포함 -->
                        <div class="myDetailPage-commentActions">
                            <button class="myDetailPage-addBtn" onclick="submitComment()">등록</button>
                        </div>
                    </form>
                </div>

                <!-- 댓글 리스트 반복문 시작 -->
                <div th:each="recipeComments : ${recipeComments}">
                    <div class="myDetailPage-comment">
                        <div class="myDetailPage-commentUserImg">
                            <img th:src="@{/image/photo/} + ${recipeComments.photoLocal}" alt="User Image">
                        </div>
                        <div class="myDetailPage-commentContent">
                            <input type="hidden" name="replyNumber" th:value="${recipeComments.replyNumber}">
                            <div class="myDetailPage-commentHeader">
                                <span class="myDetailPage-commentUsername"
                                      th:text="${recipeComments.userNickName}"></span>
                                <button class="myDetailPage-reportBtn">신고</button>
                            </div>
                            <div class="myDetailPage-commentText" th:text="${recipeComments.replyText}"></div>
                            <div class="myDetailPage-commentTime" th:text="${recipeComments.replyWriteDate}"></div>

                            <!-- 수정 및 삭제 버튼 그룹 (모든 댓글에 표시) -->
                            <div class="myDetailPage-buttonGroup">
                                <button class="myDetailPage-editBtn"
                                        th:attr="onclick='editComment(' + ${recipeComments.replyNumber} + ')'">수정
                                </button>
                                <button type="button" class="myDetailPage-deleteBtn"
                                        th:onclick="'CommentDeleteClick(' + ${recipeComments.replyNumber} + ', ' + ${recipeNo} + ')'">삭제
                                </button>
                            </div>

                            <!-- 댓글 수정 입력창, 기본적으로 숨김 상태 -->
                            <div class="myDetailPage-commentInput"
                                 th:attr="id='editInput' + ${recipeComments.replyNumber}" style="display:none;">
                                <textarea th:attr="id='editTextarea' + ${recipeComments.replyNumber}"
                                          placeholder="댓글을 입력하세요..."></textarea>
                                <div class="myDetailPage-commentActions">
                                    <button class="myDetailPage-editBtn"
                                            th:attr="onclick='saveComment(' + ${recipeComments.replyNumber} + ')'">저장
                                    </button>
                                    <button class="myDetailPage-deleteBtn"
                                            th:attr="onclick='cancelEdit(' + ${recipeComments.replyNumber} + ')'">취소
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 댓글 리스트 반복문 끝 -->

            </div>
        </div>
    </div>


</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script src="./../../js/recipe/myDetailPage.js" defer></script>
</body>
</html>
