<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/recipe/myDetailPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <title>DR - 나만의 레시피 상세페이지</title>
</head>

<body>
<header th:replace="~{/fragment/header :: header}"></header>
<main>
    <div class="myDetailPage-mainContainer">
        <div class="myDetailPage-mainBox">
            <!-- 상단 사용자 정보 및 버튼들 -->
            <div class="myDetailPage-infobox">
                <div class="myDetailPage-infoFirst">
                    <div class="myDetailPage-infoInBox1">
                        <img th:src="@{/image/photo/} + ${recipeDetail.photoLocal}" th:if="${recipeDetail.photoLocal != null && recipeDetail.profilePic == null}" alt="User Image">
                        <img th:src="${recipeDetail.profilePic}" th:if="${recipeDetail.photoLocal == null && recipeDetail.profilePic != null}" alt="User Image">
                    </div>
                    <div class="myDetailPage-infoInBox2">
                        <p class="myDetailPage-writeName" th:text="${recipeDetail.userNickName}">작성자</p>
                        <p class="myDetailPage-foodTitle" th:text="${recipeDetail.recipeTitle}">레시피 제목</p>
                        <p class="myDetailPage-date" th:text="${recipeDetail.recipeWriteDate}">작성 날짜</p>
                    </div>
                </div>

                <div class="myDetailPage-infoSecond">
                    <div class="myDetailPage-secondButton">
                        <div class="myDetailPage-heartbox">
                            <div class="myDetailPage-buttonImg">
                                <img id="heartImage1" th:src="@{/image/heartColor.png}" alt="좋아요"
                                     style="display: none;">
                            </div>

                            <div class="myDetailPage-buttonImg">
                                <img id="heartImage2" th:src="@{/image/heartGray.png}" alt="좋아요">
                            </div>

                            <a th:href="@{/recipe/report(recipeNumber=${recipeDetail.recipeNumber})}">
                                <button class="myDetailPage-buttonTwo">신고</button>
                            </a>
                        </div>
                        <div class="myDetailPage-firstButton"
                             th:if="${userNickName != null and userNickName == recipeDetail.userNickName}">
                            <form th:action="@{/recipe/updateRecipe}" method="get">
                                <input type="hidden" name="recipeNumber3" id="recipeNumber3"
                                       th:value="${recipeDetail.recipeNumber}">
                                <input type="hidden" name="recipeTitle" th:value="${recipeDetail.recipeTitle}">
                                <input type="hidden" name="recipeText" th:value="${recipeDetail.recipeText}">
                                <button id="updateButton" class="myDetailPage-buttonOne">수정</button>
                            </form>

                            <form th:action="@{/recipe/deleteRecipe}" method="post" onsubmit="return confirmDelete()">
                                <input type="hidden" name="recipeNumber2" id="recipeNumber2"
                                       th:value="${recipeDetail.recipeNumber}">
                                <button id="deleteButton" class="myDetailPage-buttonOne">삭제</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

            <!-- 레시피 본문 aa-->
            <div class="myDetailPage-writetext">
                <p class="myDetailPage-texts"  th:utext="${recipeDetail.recipeText}"></p>
                <div class="myDetailPage-recommendImg">
                    <input type="hidden" name="recipeNumber" id="recipeNumber" th:value="${recipeDetail.recipeNumber}">
                    <img src="/image/recommend.png" id="recommendImg" class="recommend-inactive" alt="추천"
                         th:src="@{/image/recommend.png}">
                    <p id="recommendCount" th:text="'추천수: ' + ${recipeDetail.goodCount}"></p>
                </div>
                <br><br>
            </div>


            <!-- 댓글 입력창 -->
            <div class="myDetailPage-commentSection">
                <div class="myDetailPage-commentInput">
                    <form th:action="@{/recipe/myDetailPage}" method="post">
                        <input type="hidden" name="recipeNumber" th:value="${recipeDetail.recipeNumber}"/>
                        <textarea id="commentTextArea" placeholder="댓글을 입력하세요" rows="3" name="replyText"></textarea>
                        <input type="hidden" name="userNumber" th:value="${session.userNumber}"/>
                        <div class="myDetailPage-commentActions">
                            <button type="submit" class="myDetailPage-addBtn" onclick="submitComment()">등록</button>
                        </div>
                    </form>
                </div>

                <!-- 댓글 리스트 반복문 시작 -->
                <div th:each="recipeComments : ${recipeComments}">
                    <div class="myDetailPage-comment" id="comment${recipeComments.replyNumber}">
                        <div class="myDetailPage-commentUserImg">
                            <img th:src="@{/image/photo/} + ${recipeComments.photoLocal}" th:if="${recipeComments.photoLocal != null && recipeComments.profilePic == null}" alt="User Image">
                            <img th:src="${recipeComments.profilePic}" th:if="${recipeComments.photoLocal == null && recipeComments.profilePic != null}" alt="User Image">
                        </div>

                        <div class="myDetailPage-commentContent">
                            <input type="hidden" name="replyNumber" th:value="${recipeComments.replyNumber}">
                            <div class="myDetailPage-commentHeader">
                                <span class="myDetailPage-commentUsername"
                                      th:text="${recipeComments.userNickName}">작성자</span>
                                <a th:href="@{/recipe/report(recipeNumber=${recipeDetail.recipeNumber}, replyNumber=${recipeComments.replyNumber})}">
                                    <button class="myDetailPage-reportBtn">신고</button>
                                </a>
                            </div>

                            <div class="myDetailPage-commentDate"
                                 th:text="${recipeComments.replyModifyDate != null ? recipeComments.replyModifyDate + '(수정됨)' : recipeComments.replyWriteDate}">
                                작성 날짜
                            </div>
                            <br>
                            <div class="myDetailPage-commentText" id="commentText${recipeComments.replyNumber}"
                                 th:text="${recipeComments.replyText}">댓글 내용
                            </div>


                            <!-- 본인 댓글에 대한 수정/삭제 버튼 -->
                            <div class="myDetailPage-buttonGroup"
                                 th:if="${userNickName != null and userNickName == recipeComments.userNickName}">
                                <button type="button" class="myDetailPage-editBtn"
                                        th:attr="data-reply-number=${recipeComments.replyNumber}">수정
                                </button>
                                <button type="button" class="myDetailPage-deleteBtn"
                                        th:attr="data-reply-number=${recipeComments.replyNumber}">삭제
                                </button>
                            </div>

                            <!-- 댓글 수정 입력창, 기본적으로 숨김 상태 -->
                            <div class="myDetailPage-commentInput" style="display:none;"
                                 id="editInput${recipeComments.replyNumber}">
                                <textarea id="editTextarea${recipeComments.replyNumber}" rows="3"></textarea>
                                <div class="myDetailPage-commentActions">
                                    <button class="myDetailPage-saveBtn">저장</button>
                                    <button class="myDetailPage-cancelBtn">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 댓글 리스트 반복문 끝 -->
                <div id="pagination"></div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/recipe/myDetailPage.js}"></script>
</body>
</html>
