<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/recipe/myRecipeWriter.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
  <script defer th:src="@{/js/fragment/header.js}"></script>

  <!-- 네비바 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
  <!-- 제이쿼리 -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>

  <!-- 페이지네이션 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

  <title>DR - 나만의 레시피 작성</title>

</head>
<body>
<header th:replace="~{/fragment/header :: header}"></header>
  <main>
    <div class="myRecipeWriter-mainContainer">
      <div class="myRecipeWriter-mainBox">
        <div class="myRecipeWriter-title">
          <span class="myRecipeWriter-text1">나만의 레시피</span>
          <span class="myRecipeWriter-text2">글쓰기</span>
        </div>

        <div class="myRecipeWriter-inputContainer">
          <input type="text" class="myRecipeWriter-titleInput" placeholder="제목을 입력하세요">
        </div>

        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <div id="contsEditor"></div>
        <script>
          const editor = new toastui.Editor({
            el: document.querySelector('#contsEditor'),
            previewStyle: 'vertical',
            initialEditType: 'markdown',
            height: '500px',
            placeholder: '내용을 입력해 주세요.',
          });
        </script>

        <div class="myRecipeWriter-write">
          <a href="./myDetailPage.html"><button class="myRecipeWriter-writeButton" id="registerButton">등록</button></a>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="~{/fragment/footer :: footer}"></footer>
  <script src="./../../js/recipe/myRecipeWriter.js" defer></script>
</body>

</html>