<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../css/recipe/myRecipeModify.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <!-- 네비바 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer src="../../js/main/header.js"></script>

    <title>DR - 챗봇 레시피 수정</title>
</head>
<body>
    <main>
        <div class="myRecipeModify-mainContainer">
            <div class="myRecipeModify-mainBox">
                <div class="myRecipeModify-title">
                    <span class="myRecipeModify-text1">나만의 레시피</span>
                    <span class="myRecipeModify-text2">수정</span>
                </div>

                <div class="myRecipeModify-inputContainer">
                    <input type="text" class="myRecipeModify-titleInput" placeholder="제목을 입력하세요">
                </div>

                <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
                <div id="contsEditor"></div>
                <script>
                    const editor = new toastui.Editor({
                        el: document.querySelector('#contsEditor'),
                        previewStyle: 'vertical',
                        initialEditType: 'wysiwyg',
                        height: '500px',
                        placeholder: '내용을 입력해 주세요.',
                    });
                </script>

                <div class="myRecipeModify-write">
                    <a href="./myDetailPage.html"><button class="myRecipeModify-cancelButton">취소</button></a>
                    <a href="./myDetailPage.html"><button class="myRecipeModify-writeButton">수정</button></a>
                </div>
            </div>
        </div>
    </main>
    <script src="./../../js/recipe/myRecipeModify.js" defer></script>
</body>

</html>